<!-- Header -->
<header class="sheet-header">
	<!-- actor Image -->
	<div class="left">
		{{#if editable}}
		<img class="actor-image" src="{{actor.img}}" alt="{{actor.name}}" data-action="editImage" />
		{{else}}
		<img class="actor-image" src="{{actor.img}}" alt="{{actor.name}}" data-action="viewImage" />
		{{/if}}
	</div>

	<!-- Name & Title -->
	<div class="middle">
		<!-- Name -->
		{{#if editable}}
		<input type="text" name="name" class="document-name josefin-sans-regular" value="{{actor.name}}" />
		{{else}}
		<div class="document-name josefin-sans-regular">{{actor.name}}</div>
		{{/if}}

		<!-- Title -->
		{{#if editable}}
		<input
			type="text"
			name="system.profile.title"
			class="actor-title josefin-sans-regular"
			value="{{system.profile.title}}"
		/>
		{{else}}
		<div class="actor-title josefin-sans-regular">{{system.profile.title}}</div>
		{{/if}}
	</div>

	<!-- Point Total -->
	<div class="right">
		<div class="point-counter">
			<div class="point-total">250</div>
			<div class="side">
				<div class="cp">CP</div>
				<a class="fa-solid fa-caret-down"></a>
			</div>
		</div>
	</div>

	<!-- Navigation Tabs -->
	<div class="bottom">
		<nav class="tabs" data-group="primary">
			{{#each primaryTabs as |tab|}}
			<a class="{{tab.cssClass}}" data-action="tab" data-group="{{tab.group}}" data-tab="{{tab.id}}">
				<i class="{{tab.icon}}"></i>
			</a>
			{{/each}}
		</nav>
	</div>
</header>
