<li data-type="{{ item.type }}" data-item-id="{{ item.id }}" {{#if isContainer}} data-is-container {{/if}}>
    <div class="data">
        <div class="equipped">
            {{#if item.equipped}}
                <i class="gcs-checkmark"></i>
            {{/if}}
        </div>
        <div class="item-name {{ disabled (not item.enabled) }}"
            data-tooltip-direction="DOWN"
            data-tooltip="{{ item.resolvedTooltip }}"
            {{{ indent indent }}}
            >
            {{{ dropdown item }}}
            <div class="name">{{ item.formattedName }}</div>
            {{{ item.resolvedNotes }}}
        </div>
        <div class="tech-level">{{ item.techLevel }}</div>
        <div class="value">{{ item.costDescription }}</div>
        <div class="weight">{{ item.weightDescription }}</div>
        <div class="tags">{{ join item.tags ", " }}</div>
        <div class="reference">{{{ ref item.reference }}}</div>
    </div>
    {{#if item.system.open}}
        <ul class="items" data-item-list data-container-id="{{ item.id }}">
            {{#each children}}
                {{>common/equipment-modifier}}
            {{/each}}
        </ul>
    {{/if}}
</li>
