<div
	class="desc item{{#if (isContainer this)}} container{{/if}}"
	data-item-id="{{ this._id }}"
	{{{indent
	this.parents.lengtht}}}
>
	{{{ dropdown item }}}
	<div class="md">{{{ this.formattedName }}}</div>
</div>
<div class="reference">{{{ ref this.system.reference }}}</div>
{{#if this.system.open }} {{#each (sort this.children "sort")}} {{>actor/character/partials/note }} {{/each }} {{/if }}
