<div class="dice-roll damage">
	<div
		data-uuid="{{uuid}}"
		data-weapon="{{weaponID}}"
		data-actor="{{attacker}}"
		data-type="damage"
		class="name damage rollable"
	>
		{{name}} ({{damage}})
	</div>
	{{#if modifiers.length}}
	<div class="modifiers">
		{{#each modifiers}}
		<div class="mod mod-{{this.class}}" data-mod="{{json this}}">
			{{signed this.modifier}}{{#if this.name}}: {{this.name}}{{/if}}
		</div>
		{{/each}}
	</div>
	{{/if}}
	<hr />
	{{#if (gt damageRoll.length 1)}}
	<div class="dice-result">
		{{else}}
		<div class="dice-result">
			{{/if}} {{#if (gt damageRoll.length 1)}}
			<div
				class="dice-total failure"
				draggable="true"
				data-index="-1"
				style="z-index: {{sum 1 damageRoll.length}}"
			>
				All Damage ({{damageRoll.length}})
			</div>
			{{/if}} {{#each damageRoll}}
			<div
				class="dice-total failure"
				draggable="true"
				data-index="{{@index}}"
				style="z-index: {{diff ../damageRoll.length @index}};"
			>
				{{localize "gurps.roll.damage" total=total type=../damageType }}
			</div>
			{{{tooltip}}} {{/each}}
		</div>
	</div>
</div>
