<div class="dice-roll damage">
	<div
		data-uuid="{{uuid}}"
		data-weapon="{{weaponID}}"
		data-actor="{{attacker}}"
		data-type="damage"
		class="name damage rollable"
	>
		{{name}}
		({{damage}})
	</div>
	{{#if modifiers.length}}
		<div class="modifiers">
			{{#each modifiers}}
				<div class="mod mod-{{this.class}}" data-mod="{{json this}}">{{signed this.modifier}}{{#if this.name}}:
						{{this.name}}{{/if}}</div>
			{{/each}}
		</div>
	{{/if}}
	<hr />
	<div class="dice-result">
		{{#each damageRoll}}
			<div class="dice-total failure" draggable="true" data-index="{{@index}}">{{localize
					"gurps.roll.damage"
					total=total
					type=../damageType
				}}</div>
			{{{tooltip}}}
		{{/each}}
	</div>
</div>
