<div class="message-roll skill">
	<div class="static-name">
		{{localize "gurps.dmgcalc.random_location_roll"}}</div>
	<div class="result success">{{localize "gurps.dmgcalc.location"}}: {{location}}</div>
	<hr />
	<div class="total">{{#each rolls}}
			{{#unless (eq @index 0)}} + {{/unless}}
			<i data-result={{this.result}} class="rollable fas fa-dice-{{this.word}}"></i>
		{{/each}}
		=
		{{total}}
	</div>
</div>