<div class="content-box">
	<nav class="nav-tabs" data-group="primary">
		<a data-tab="landing-page" style="display: none"></a>
		<a data-tab="trait">
			<i class="gcs-trait"></i>
			{{ localize "gurps.compendium_browser.trait" }}
		</a>
		<a data-tab="modifier">
			<i class="gcs-modifier"></i>
			{{ localize "gurps.compendium_browser.modifier" }}
		</a>
		<a data-tab="skill">
			<i class="gcs-skill"></i>
			{{ localize "gurps.compendium_browser.skill" }}
		</a>
		<a data-tab="spell">
			<i class="gcs-spell"></i>
			{{ localize "gurps.compendium_browser.spell" }}
		</a>
		<a data-tab="equipment">
			<i class="gcs-equipment"></i>
			{{ localize "gurps.compendium_browser.equipment" }}
		</a>
		<a data-tab="eqp_modifier">
			<i class="gcs-eqp-modifier"></i>
			{{ localize "gurps.compendium_browser.eqp_modifier" }}
		</a>
		<a data-tab="note">
			<i class="gcs-note"></i>
			{{ localize "gurps.compendium_browser.note" }}
		</a>
		{{#if user.isGM }}
		<a data-tab="settings">
			<i class="gcs-settings"></i>
			{{ localize "gurps.compendium_browser.settings" }}
		</a>
		{{/if}}
	</nav>
	<section class="content">
		<div class="tab" data-group="primary" data-tab="landing-page">
			<div style="text-align center; padding: 2em;">{{ localize "gurps.compendium_browser.hint" }}</div>
		</div>
		{{#with trait}}
		<div class="tab browser" data-group="primary" data-tab="trait">
			<div class="library-tab" id="embeds">
				{{>compendium-browser/searchbar}}
				<div id="traits" class="list">
					<header>
						<span class="item-name">{{ localize "gurps.compendium_browser.item.trait" }}</span>
						<span class="points">{{ localize "gurps.compendium_browser.item.points" }}</span>
						<span class="tags">{{ localize "gurps.compendium_browser.item.tags" }}</span>
						<span class="reference">
							<i class="gcs-bookmark"></i>
						</span>
					</header>
					<ul class="items" data-item-list></ul>
				</div>
			</div>
		</div>
		{{/with}} {{#with modifier}}
		<div class="tab browser" data-group="primary" data-tab="modifier">
			<div class="library-tab" id="embeds">
				{{>compendium-browser/searchbar}}
				<div id="modifiers" class="list">
					<header>
						<span class="desc">{{ localize "gurps.compendium_browser.item.modifier" }}</span>
						<span class="cost">{{ localize "gurps.compendium_browser.item.cost_mod" }}</span>
						<span class="tags">{{ localize "gurps.compendium_browser.item.tags" }}</span>
						<span class="reference">
							<i class="gcs-bookmark"></i>
						</span>
					</header>
					<ul class="items" data-item-list></ul>
				</div>
			</div>
		</div>
		{{/with}} {{#with skill}}
		<div class="tab browser" data-group="primary" data-tab="skill">
			<div class="library-tab" id="embeds">
				{{>compendium-browser/searchbar}}
				<div id="skills" class="list">
					<header>
						<span class="desc">{{ localize "gurps.compendium_browser.item.skill" }}</span>
						<span class="difficulty">{{ localize "gurps.compendium_browser.item.difficulty" }}</span>
						<span class="tags">{{ localize "gurps.compendium_browser.item.tags" }}</span>
						<span class="reference">
							<i class="gcs-bookmark"></i>
						</span>
					</header>
					<ul class="items" data-item-list></ul>
				</div>
			</div>
		</div>
		{{/with}} {{#with spell}}
		<div class="tab browser" data-group="primary" data-tab="spell">
			<div class="library-tab" id="embeds">
				{{>compendium-browser/searchbar}}
				<div id="spells" class="list">
					<header>
						<span class="desc">{{ localize "gurps.compendium_browser.item.spell" }}</span>
						<span class="college">{{ localize "gurps.compendium_browser.item.college" }}</span>
						<span class="resist">{{ localize "gurps.compendium_browser.item.resist" }}</span>
						<span class="class">{{ localize "gurps.compendium_browser.item.spell_class" }}</span>
						<span class="casting-cost">{{ localize "gurps.compendium_browser.item.casting_cost" }}</span>
						<span class="maintenance-cost">
							{{ localize "gurps.compendium_browser.item.maintenance_cost" }}
						</span>
						<span class="casting-time">{{ localize "gurps.compendium_browser.item.casting_time" }}</span>
						<span class="duration">{{ localize "gurps.compendium_browser.item.duration" }}</span>
						<span class="difficulty">{{ localize "gurps.compendium_browser.item.difficulty" }}</span>
						<span class="tags">{{ localize "gurps.compendium_browser.item.tags" }}</span>
						<span class="reference">
							<i class="gcs-bookmark"></i>
						</span>
					</header>
					{{#each indexData }} {{>actor/character/partials/spell}} {{/each}}
				</div>
			</div>
		</div>
		{{/with}} {{#with equipment}}
		<div class="tab browser" data-group="primary" data-tab="equipment">
			<div class="library-tab" id="embeds">
				{{>compendium-browser/searchbar}}
				<div id="equipment" class="list">
					<header>
						<span class="desc">{{ localize "gurps.compendium_browser.item.equipment" }}</span>
						<span class="uses">{{ localize "gurps.compendium_browser.item.uses" }}</span>
						<span class="tech-level">{{ localize "gurps.compendium_browser.item.tech_level" }}</span>
						<span class="legality-class">
							{{ localize "gurps.compendium_browser.item.legality_class" }}
						</span>
						<span class="value">
							<i class="gcs-coins"></i>
						</span>
						<span class="weight">
							<i class="gcs-weight"></i>
						</span>
						<span class="tags">{{ localize "gurps.compendium_browser.item.tags" }}</span>
						<span class="reference">
							<i class="gcs-bookmark"></i>
						</span>
					</header>
					<ul class="items" data-item-list></ul>
				</div>
			</div>
		</div>
		{{/with}} {{#with eqp_modifier}}
		<div class="tab browser" data-group="primary" data-tab="eqp_modifier">
			<div class="library-tab" id="embeds">
				{{>compendium-browser/searchbar}}
				<div id="eqp-modifiers" class="list">
					<header>
						<span class="desc">{{ localize "gurps.compendium_browser.item.eqp_modifier" }}</span>
						<span class="tech_level">{{ localize "gurps.compendium_browser.item.tech_level" }}</span>
						<span class="value">{{ localize "gurps.compendium_browser.item.value_mod" }}</span>
						<span class="weight">{{ localize "gurps.compendium_browser.item.weight_mod" }}</span>
						<span class="tags">{{ localize "gurps.compendium_browser.item.tags" }}</span>
						<span class="reference">
							<i class="gcs-bookmark"></i>
						</span>
					</header>
					<ul class="items" data-item-list></ul>
				</div>
			</div>
		</div>
		{{/with}} {{#with note}}
		<div class="tab browser" data-group="primary" data-tab="note">
			<div class="library-tab" id="embeds">
				{{>compendium-browser/searchbar}}
				<div id="notes" class="list">
					<header>
						<span class="desc">{{ localize "gurps.compendium_browser.item.note" }}</span>
						<span class="reference">
							<i class="gcs-bookmark"></i>
						</span>
					</header>
					<ul class="items" data-item-list></ul>
				</div>
			</div>
		</div>
		{{/with}} {{#if user.isGM }} {{#with settings}}
		<div class="tab browser" data-group="primary" data-tab="settings">{{>compendium-browser/settings}}</div>
		{{/with}} {{/if}}
	</section>
</div>
