<div class="compendium-browser-settings">
	<form autocomplete="off">
		<div class="container" id="traits">
			<header>
				<i class="gcs-trait"></i>
				{{ localize "gurps.compendium_browser.trait" }}
			</header>
			<div class="section">
				{{#each settings.trait as |conf pack|}}
				<div class="entry">
					<label class="check">
						<input type="checkbox" name="trait-{{ pack }}" {{ checked conf.load }} />
						{{ conf.name }}
					</label>
				</div>
				{{/each}}
			</div>
		</div>
		<div class="container" id="trait-mods">
			<header>
				<i class="gcs-modifier"></i>
				{{ localize "gurps.compendium_browser.modifier" }}
			</header>
			<div class="section">
				{{#each settings.modifier as |conf pack|}}
				<div class="entry">
					<label class="check">
						<input type="checkbox" name="modifier-{{ pack }}" {{ checked conf.load }} />
						{{ conf.name }}
					</label>
				</div>
				{{/each}}
			</div>
		</div>
		<div class="container" id="skills">
			<header>
				<i class="gcs-skill"></i>
				{{ localize "gurps.compendium_browser.skill" }}
			</header>
			<div class="section">
				{{#each settings.skill as |conf pack|}}
				<div class="entry">
					<label class="check">
						<input type="checkbox" name="skill-{{ pack }}" {{ checked conf.load }} />
						{{ conf.name }}
					</label>
					<label class="check">
						<input type="checkbox" name="default-skill-{{ pack }}" {{ checked conf.skillDefault }} />
						Use for Defaults?
					</label>
				</div>
				{{/each}}
			</div>
		</div>
		<div class="container" id="spells">
			<header>
				<i class="gcs-spell"></i>
				{{ localize "gurps.compendium_browser.spell" }}
			</header>
			<div class="section">
				{{#each settings.spell as |conf pack|}}
				<div class="entry">
					<label class="check">
						<input type="checkbox" name="spell-{{ pack }}" {{ checked conf.load }} />
						{{ conf.name }}
					</label>
				</div>
				{{/each}}
			</div>
		</div>
		<div class="container" id="eqp">
			<header>
				<i class="gcs-equipment"></i>
				{{ localize "gurps.compendium_browser.equipment" }}
			</header>
			<div class="section">
				{{#each settings.equipment as |conf pack|}}
				<div class="entry">
					<label class="check">
						<input type="checkbox" name="equipment-{{ pack }}" {{ checked conf.load }} />
						{{ conf.name }}
					</label>
				</div>
				{{/each}}
			</div>
		</div>
		<div class="container" id="eqp-mods">
			<header>
				<i class="gcs-eqp_modifier"></i>
				{{ localize "gurps.compendium_browser.eqp_modifier" }}
			</header>
			<div class="section">
				{{#each settings.eqp_modifier as |conf pack|}}
				<div class="entry">
					<label class="check">
						<input type="checkbox" name="eqp_modifier-{{ pack }}" {{ checked conf.load }} />
						{{ conf.name }}
					</label>
				</div>
				{{/each}}
			</div>
		</div>
		<div class="container" id="notes">
			<header>
				<i class="gcs-note"></i>
				{{ localize "gurps.compendium_browser.note" }}
			</header>
			<div class="section">
				{{#each settings.note as |conf pack|}}
				<div>
					<label class="check">
						<input type="checkbox" name="note-{{ pack }}" {{ checked conf.load }} />
						{{ conf.name }}
					</label>
				</div>
				{{/each}}
			</div>
		</div>
		<button type="button" data-action="save-settings">{{ localize "SETTINGS.Save" }}</button>
	</form>
</div>
