<form class="{{cssClass}}" autocomplete="off">
	<div id="sheet" class="gcs_melee_sheet">
		<div id="details">
			<label>{{localize "gurps.item.name"}}</label>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.name" value="{{data.name}}" data-dtype="String" />
			</div>
			<label>{{localize "gurps.item.level"}}</label>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.import" value="{{data.import}}" data-dtype="String" />
			</div>
			<label>{{localize "gurps.static.rsl"}}</label>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.relativelevel" value="{{data.relativelevel}}" data-dtype="String" />
			</div>
			<label>{{localize "gurps.item.points"}}</label>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.points" value="{{data.points}}" data-dtype="Number" />
			</div>
			<label>{{localize "gurps.static.check_otf"}}</label>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.checkotf" value="{{data.checkotf}}" data-dtype="string" />
			</div>
			<label>{{localize "gurps.static.during_otf"}}</label>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.duringotf" value="{{data.duringotf}}" data-dtype="String" />
			</div>
			<label>{{localize "gurps.static.pass_otf"}}</label>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.passotf" value="{{data.passotf}}" data-dtype="String" />
			</div>
			<label>{{localize "gurps.static.fail_otf"}}</label>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.failotf" value="{{data.failotf}}" data-dtype="String" />
			</div>
		</div>
	</div>
</form>
