{{#with @root.itemCollections.ranged as |section|}}
<div id="ranged">
	<header>
		<span class="usage desc">{{ localize "gurps.weapon.ranged_header" }}</span>
		<span class="level">{{ localize "gurps.character.ranged.level" }}</span>
		<span class="accuracy">{{ localize "gurps.character.ranged.accuracy" }}</span>
		<span class="damage">{{ localize "gurps.character.ranged.damage" }}</span>
		<span class="range">{{ localize "gurps.character.ranged.range" }}</span>
		<span class="rate-of-fire">{{ localize "gurps.character.ranged.rate_of_fire" }}</span>
		<span class="shots">{{ localize "gurps.character.ranged.shots" }}</span>
		<span class="bulk">{{ localize "gurps.character.ranged.bulk" }}</span>
		<span class="recoil">{{ localize "gurps.character.ranged.recoil" }}</span>
		<span class="st">{{ localize "gurps.character.ranged.st" }}</span>
	</header>
	<ul class="items" data-item-list data-item-section="{{ section.name }}" data-item-types="{{ section.types }}">
		{{#each section.items}}
		<li data-item-id="{{ item.id }}">
			<div class="data">
				<div class="item-name">
					<div class="name">{{ this.system.usage }}</div>
					{{{ item.resolvedNotes }}}
				</div>
				<div class="level">{{ this.level }}</div>
				<div class="accuracy">{{ signed this.accuracy }}</div>
				<div class="damage">{{ this.damage }}</div>
				<div class="range">{{ this.range }}</div>
				<div class="rate-of-fire">{{ this.rate_of_fire }}</div>
				<div class="shots">{{ this.shots }}</div>
				<div class="bulk">{{ this.bulk }}</div>
				<div class="recoil">{{ this.recoil }}</div>
				<div class="st">{{ this.strength }}</div>
			</div>
		</li>
		{{/each}}
	</ul>
</div>
{{/with}}
