<div class="stack">
    {{#if this.open}}
        <div class="dropdown">
            <a class="dropdown-toggle closed gcs-circled-chevron-down"
               data-index="{{@index}}"></a>
        </div>
    {{ else }}
        <div class="dropdown">
            <a class="dropdown-toggle closed gcs-circled-chevron-right"
               data-index="{{@index}}"></a>
        </div>
    {{/if}}
    {{#if this.editing}}
        <div class="name" data-index="{{@index}}">
            <input name="savedStacks.{{@index}}.title"
                   value="{{ this.title }}"
                   data-index="{{@index}}" />
        </div>
    </div>
{{ else }}
    <div class="name" data-index="{{@index}}">{{ this.title }}</div>
{{/if}}
<div class="controls">
    <a class="apply gcs-checkmark" data-index="{{@index}}"></a>
    <a class="delete gcs-trash" data-index="{{@index}}"></a>
</div>
</div>
{{#if this.open}}
    <div class="stack-content open">
        {{#each this.items}}
        <div class="modifier {{#if (gt this.modifier 0)}}pos{{ else if (eq this.modifier 0) }}zero{{ else }}neg{{/if}}"
             data-modifier="{{ json this }}">{{ signed this.modifier }}: {{{ this.id }}}</div>
    {{/each}}
</div>
{{ else }}
<div class="collapsible-content closed" style="display: none;"></div>
{{/if}}
