<div id="modifier-bucket-window" class="gurps">
	<div class="column">
		<div id="melee" class="section">
			<header>{{localize "gurps.system.modifier_bucket.melee"}}</header>
			<div class="content">
				{{#each meleeMods}}
				{{>modifier-bucket/modifier}}
				{{/each}}
			</div>
		</div>
		<div id="ranged" class="section">
			<header>{{localize "gurps.system.modifier_bucket.ranged"}}</header>
			<div class="content">
				{{#each rangedMods}}
				{{>modifier-bucket/modifier}}
				{{/each}}
			</div>
		</div>
		<div id="defense" class="section">
			<header>{{localize "gurps.system.modifier_bucket.defense"}}</header>
			<div class="content">
				{{#each defenseMods}}
				{{>modifier-bucket/modifier}}
				{{/each}}
			</div>
		</div>
	</div>
	<div class="column">
		<div id="categories" class="section">
			<header>{{localize "gurps.system.modifier_bucket.categories"}}</header>
			<div class="content" style="gap: 0;">
				{{#each commonMods}}
				{{>modifier-bucket/collapsible}}
				{{/each}}
			</div>
		</div>
		<div id="send-modifiers" class="section">
			<header>{{localize "gurps.system.modifier_bucket.send"}}</header>
			<div class="content">
				{{#each players}}
				{{>modifier-bucket/player}}
				{{/each}}
			</div>
		</div>
		<div id="custom" class="section">
			<header>{{localize "gurps.system.modifier_bucket.custom"}}</header>
			<div class="content">
				<div class="generic">
					{{#each genericMods}}
					{{>modifier-bucket/modifier}}
					{{/each}}
				</div>
				<input class="searchbar" type="text"/>
			</div>
		</div>
	</div>
	<div class="column">
		<div id="stacks" class="section">
			<header>{{localize "gurps.system.modifier_bucket.saved_stacks"}}</header>
			<div class="content" style="gap: 0;" autocomplete="off">
				<button id="save-current">
					<i class="fas fa-save"></i>
					{{localize "gurps.system.modifier_bucket.save_current"}}
					</button>
				{{#each savedStacks}}
				{{>modifier-bucket/stack}}
				{{/each}}
			</div>
		</div>
	</div>
</div>
