<div id="encumbrance">
	<header>
		<span class="title">
			{{ localize "gurps.character.encumbrance.title" }} {{#if settings.auto_encumbrance.active}}
			<a
				class="fas fa-toggle-on"
				data-tooltip="{{ localize 'gurps.tooltip.auto_encumbrance' }}"
				data-tooltip-direction="DOWN"
				data-action="toggle-encumbrance"
			></a>
			{{ else }}
			<a
				class="fas fa-toggle-off"
				data-tooltip="{{ localize 'gurps.tooltip.auto_encumbrance' }}"
				data-tooltip-direction="DOWN"
				data-action="toggle-encumbrance"
			></a>
			{{/if}}
		</span>
	</header>
	<header>
		<span class="level">{{ localize "gurps.character.encumbrance.level" }}</span>
		<span class="max-load">{{ localize "gurps.character.encumbrance.max_load" }}</span>
		<span class="move">{{ localize "gurps.character.encumbrance.move" }}</span>
		<span class="dodge">{{ localize "gurps.character.encumbrance.dodge" }}</span>
	</header>
	<ul>
		{{#each encumbrance.levels}} {{#if this.active}} {{#if @root.encumbrance.overencumbered}}
		<li class="overencumbered">{{> level}}</li>
		{{ else }}
		<li class="active">{{> level}}</li>
		{{/if}} {{ else }}
		<li class="active">{{> level}}</li>
		{{/if}} {{/each}}
	</ul>
</div>
{{#*inline "level"}} {{#unless @root.settings.auto_encumbrance.active}}
<div class="encumbrance-marker manual" data-level="{{ this.level }}"></div>
{{ else }}
<div class="encumbrance-marker"></div>
{{/unless}}
<span class="level-number">{{ this.level }}</span>
<span class="level">{{ localize this.name }}</span>
<span class="max-load">{{ this.maximumCarry }}</span>
<span class="move">{{ this.move.effective }}</span>
<span class="dodge">{{ this.dodge.effective }}</span>
{{/inline}}
