<div id="encumbrance">
	<header>
		<span class="title">
			{{ localize "gurps.character.encumbrance.title" }} {{#if settings.auto_encumbrance.active}}
			<a
				class="fas fa-toggle-on"
				data-tooltip="{{ localize 'gurps.tooltip.auto_encumbrance' }}"
				data-tooltip-direction="DOWN"
				data-action="toggle-encumbrance"
			></a>
			{{ else }}
			<a
				class="fas fa-toggle-off"
				data-tooltip="{{ localize 'gurps.tooltip.auto_encumbrance' }}"
				data-tooltip-direction="DOWN"
				data-action="toggle-encumbrance"
			></a>
			{{/if}}
		</span>
	</header>
	<header>
		<span class="level">{{ localize "gurps.character.encumbrance.level" }}</span>
		<span class="max-load">{{ localize "gurps.character.encumbrance.max_load" }}</span>
		<span class="move">{{ localize "gurps.character.encumbrance.move" }}</span>
		<span class="dodge">{{ localize "gurps.character.encumbrance.dodge" }}</span>
	</header>
	{{#each encumbrance.levels}} {{#if this.active}} {{#if @root.encumbrance.overencumbered}}
	<div class="encumbrance-marker overencumbered">
		<i class="gcs-weight"></i>
	</div>
	<div class="level-number overencumbered">{{ this.level }}</div>
	<div class="level overencumbered">{{ this.name }}</div>
	<div class="max-load overencumbered">{{ this.maximumCarry }}</div>
	<div class="move overencumbered">{{ this.move.effective }}</div>
	<div data-id="dodge" data-type="attribute" class="dodge overencumbered rollable {{ effective this.dodge }}">
		{{ this.dodge.effective }}
	</div>
	{{ else }}
	<div class="encumbrance-marker active">
		<i class="gcs-weight"></i>
	</div>
	<div class="level-number active">{{ this.level }}</div>
	<div class="level active">{{ this.name }}</div>
	<div class="max-load active">{{ this.maximumCarry }}</div>
	<div class="move active {{ effective this.move }}">{{ this.move.effective }}</div>
	<div data-id="dodge" data-type="attribute" class="dodge active rollable {{ effective this.dodge }}">
		{{ this.dodge.effective }}
	</div>
	{{/if}} {{ else }} {{#unless @root.settings.auto_encumbrance.active}}
	<div class="encumbrance-marker manual" data-level="{{ this.level }}"></div>
	{{ else }}
	<div class="encumbrance-marker"></div>
	{{/unless}}
	<div class="level-number">{{ this.level }}</div>
	<div class="level">{{ localize this.name }}</div>
	<div class="max-load">{{ this.maximumCarry }}</div>
	<div class="move">{{ this.move.effective }}</div>
	<div class="dodge">{{ this.dodge.effective }}</div>
	{{/if}} {{/each}}
</div>
