<div class="tab" data-group="lifting" data-tab="lifting">
	<div class="lift">{{ actor.lifts.map.basicLift }}</div>
	<label>{{ localize "gurps.character.lifting.basic_lift" }}</label>
	<div class="lift">{{ actor.lifts.map.oneHandedLift }}</div>
	<label>{{ localize "gurps.character.lifting.one_handed_lift" }}</label>
	<div class="lift">{{ actor.lifts.map.twoHandedLift }}</div>
	<label>{{ localize "gurps.character.lifting.two_handed_lift" }}</label>
	<div class="lift">{{ actor.lifts.map.shove }}</div>
	<label>{{ localize "gurps.character.lifting.shove" }}</label>
	<div class="lift">{{ actor.lifts.map.runningShove }}</div>
	<label>{{ localize "gurps.character.lifting.running_shove" }}</label>
	<div class="lift">{{ actor.lifts.map.carryOnBack }}</div>
	<label>{{ localize "gurps.character.lifting.carry_on_back" }}</label>
	<div class="lift">{{ actor.lifts.map.shiftSlightly }}</div>
	<label>{{ localize "gurps.character.lifting.shift_slightly" }}</label>
</div>
