<li data-type="{{ item.type }}" data-item-id="{{ item.id }}">
	<div class="data">
		<div class="item-name">
			<div class="name">{{ item.itemName }}</div>
			{{{ item.resolvedNotes }}}
		</div>
		<div data-type="attack" class="usage rollable">{{ item.system.usage }}</div>
		<div data-type="attack" class="level rollable">{{ item.level }}</div>
		<div data-type="parry" class="parry rollable">{{ item.parry.current }}</div>
		<div data-type="block" class="block rollable">{{ item.block.current }}</div>
		<div data-type="damage" class="damage rollable">{{ item.damage.current }}</div>
		<div class="reach">{{ item.reach.current }}</div>
		<div class="st">{{ item.strength.current }}</div>
	</div>
</li>
