<div id="points">
	<header>
		{{ pb.total }} {{ localize "gurps.character.points.title" }}
		<a class="gcs-edit edit-points"></a>
	</header>
	<div class="fieldblock">
		{{#if pb.overspent}}
		<label>{{ pb.unspent }}</label>
		<div class="overspent">{{ localize "gurps.character.points.overspent" }}</div>
		{{ else }}
		<label>{{ pb.unspent }}</label>
		<div>{{ localize "gurps.character.points.unspent" }}</div>
		{{/if}}
		<label>{{ pb.ancestry }}</label>
		<div>{{ localize "gurps.character.points.ancestry" }}</div>
		<label>{{ pb.attributes }}</label>
		<div>{{ localize "gurps.character.points.attributes" }}</div>
		<label>{{ pb.advantages }}</label>
		<div>{{ localize "gurps.character.points.advantages" }}</div>
		<label>{{ pb.disadvantages }}</label>
		<div>{{ localize "gurps.character.points.disadvantages" }}</div>
		<label>{{ pb.quirks }}</label>
		<div>{{ localize "gurps.character.points.quirks" }}</div>
		<label>{{ pb.skills }}</label>
		<div>{{ localize "gurps.character.points.skills" }}</div>
		<label>{{ pb.spells }}</label>
		<div>{{ localize "gurps.character.points.spells" }}</div>
	</div>
</div>
