<div id="points">
	<header>
		{{ pb.total }} {{ localize "gurps.character.points.title" }}
		<a class="gcs-edit edit-points"></a>
	</header>
	<div class="fieldblock">
		{{#if pb.overspent}}
		<div class="field">
			<input type="text" class="input overspent" value="{{ pb.unspent }}" disabled />
		</div>
		<div class="label overspent">{{ localize "gurps.character.points.overspent" }}</div>
		{{ else }}
		<div class="field">
			<input type="text" value="{{ pb.unspent }}" disabled />
		</div>
		<label>{{ localize "gurps.character.points.unspent" }}</label>
		{{/if}}
		<div class="field">
			<input type="text" value="{{ pb.ancestry }}" disabled />
		</div>
		<label>{{ localize "gurps.character.points.ancestry" }}</label>
		<div class="field">
			<input type="text" value="{{ pb.attributes }}" disabled />
		</div>
		<label>{{ localize "gurps.character.points.attributes" }}</label>
		<div class="field">
			<input type="text" value="{{ pb.advantages }}" disabled />
		</div>
		<label>{{ localize "gurps.character.points.advantages" }}</label>
		<div class="field">
			<input type="text" value="{{ pb.disadvantages }}" disabled />
		</div>
		<label>{{ localize "gurps.character.points.disadvantages" }}</label>
		<div class="field">
			<input type="text" value="{{ pb.quirks }}" disabled />
		</div>
		<label>{{ localize "gurps.character.points.quirks" }}</label>
		<div class="field">
			<input type="text" value="{{ pb.skills }}" disabled />
		</div>
		<label>{{ localize "gurps.character.points.skills" }}</label>
		<div class="field">
			<input type="text" value="{{ pb.spells }}" disabled />
		</div>
		<label>{{ localize "gurps.character.points.spells" }}</label>
	</div>
</div>
