<div id="pool-attributes">
	<header>
		{{ localize "gurps.character.point_pools" }} {{#if settings.auto_threshold.active}}
		<a
			class="fas fa-toggle-on"
			data-tooltip="{{ localize 'gurps.tooltip.auto_threshold' }}"
			data-tooltip-direction="DOWN"
			data-action="toggle-thresholds"
		></a>
		{{ else }}
		<a
			class="fas fa-toggle-off"
			data-tooltip="{{ localize 'gurps.tooltip.auto_threshold' }}"
			data-tooltip-direction="DOWN"
			data-action="toggle-thresholds"
		></a>
		{{/if}}
	</header>
	<div class="fieldblock-7">
		{{#each attributes.poolAttributes}} {{#if @root.editMode}}
		<i class="fas fa-ellipsis-vertical" data-id="{{ this.id }}"></i>
		{{ else }}
		<span></span>
		{{/if}}
		<label class="points">[{{ this.points }}]</label>
		<div class="field">
			<input
				type="number"
				name="attributes.{{ this.id }}.damage"
				value="{{ this.current }}"
				data-dtype="Number"
			/>
		</div>
		<label>{{ localize "gurps.character.pool_of" }}</label>
		{{#if @root.editMode}}
		<div class="field">
			<input type="number" name="attributes.{{ this.id }}.adj" value="{{ this.effective }}" data-dtype="Number" />
		</div>
		{{ else }}
		<div class="field">
			<input type="number" value="{{ this.effective }}" disabled />
		</div>
		{{/if}}
		<span>{{ this.definition.name }}</span>
		{{#if @root.settings.auto_threshold.active}}
		<label data-tooltip="{{{ this.currentThreshold.explanation }}}" data-tooltip-direction="DOWN">
			{{#if this.currentThreshold.state}} [{{ this.currentThreshold.state }}] {{/if}}
		</label>
		{{ else }}
		<select class="threshold-select" data-name="{{ this.id }}">
			{{#select this._manualThreshold.state}} {{#each this.definition.thresholds}}
			<option value="{{ this.state }}">[{{ this.state }}]</option>
			{{/each}} {{/select}}
		</select>
		{{/if}} {{/each}}
	</div>
</div>
