<div id="primary-attributes">
	<header>{{ localize "gurps.character.primary_attributes" }}</header>
	<div class="fieldblock-3">
		{{#each attributes.primaryAttributes}} {{#if (eq this.definition.type "primary_separator")}}
		<div class="separator_parent">
			<div class="separator" data-text="{{ this.definition.name }}">{{ this.definition.name }}</div>
		</div>
		{{ else if (or (eq this.definition.type "integer_ref") (eq this.attribte_def.type "decimal_ref")) }}
		<label class="points"></label>
		<div data-id="{{ this.id }}" data-type="attribute" class="field rollable {{ effective this }}">
			<input
				type="number"
				value="{{ this.effective }}"
				disabled
				style="min-width: calc({{ length this.effective }}ch + 1ch)"
			/>
		</div>
		<label>{{ this.definition.combinedName }}</label>
		{{ else }}
		<label class="points">[{{ this.points }}]</label>
		{{#if @root.editMode}}
		<div data-id="{{ this.id }}" data-type="attribute" class="field">
			<input
				name="attributes.{{ this.id }}.adj"
				type="number"
				data-dtype="Number"
				value="{{ this.effective }}"
				style="min-width: calc({{ length this.effective }}ch + 1ch)"
			/>
		</div>
		{{ else }}
		<div data-id="{{ this.id }}" data-type="attribute" class="field rollable {{ effective this }}">
			<input
				type="number"
				value="{{ this.effective }}"
				style="min-width: calc({{ length this.effective }}ch + 1ch)"
				disabled
			/>
		</div>
		{{/if}}
		<span>{{ this.definition.combinedName }}</span>
		{{/if}} {{/each}}
	</div>
</div>
