<div id="resource-trackers">
	<header>{{ localize "gurps.character.resource_trackers.title" }}</header>
	<div class="fieldblock-6">
		{{#each attributes.resourceTrackers}} {{#if (and (eq this.max 0) (eq this.min 0))}}
		<label class="points"></label>
		<div class="field" style="grid-column: 2 / span 3">
			<input
				type="text"
				name="resource_trackers.{{ this.id }}.damage"
				value="{{ this.current }}"
				data-dtype="Number"
			/>
		</div>
		{{ else }}
		<label class="points"></label>
		<div class="field">
			<input
				type="text"
				name="resource_trackers.{{ this.id }}.damage"
				value="{{ this.current }}"
				data-dtype="Number"
			/>
		</div>
		<label>{{ localize "gurps.character.pool_of" }}</label>
		<div class="field">
			<input type="text" value="{{ this.max }}" data-dtype="Number" disabled />
		</div>
		{{/if}}
		<label>{{ this.definition.name }}</label>
		<label data-tooltip="{{{ this.currentThreshold.explanation }}}" data-tooltip-direction="DOWN">
			{{#if this.currentThreshold.state}} [{{ this.currentThreshold.state }}] {{/if}}
		</label>
		{{/each}}
	</div>
</div>
