<div id="secondary-attributes">
	<header>{{ localize "gurps.character.secondary_attributes" }}</header>
	<div class="fieldblock-3">
		{{#each attributes.secondaryAttributes}} {{#if (eq this.definition.type "secondary_separator")}}
		<div class="separator_parent">
			<div class="separator" data-text="{{ this.definition.name }}">{{ this.definition.name }}</div>
		</div>
		{{ else if (or (eq this.definition.type "integer_ref") (eq this.attribte_def.type "decimal_ref")) }}
		<label class="points"></label>
		<div data-id="{{ this.id }}" data-type="attribute" class="field rollable {{ effective this }}">
			<input
				class="number"
				type="text"
				value="{{ this.effective }}"
				disabled
				style="min-width: {{ length this.effective }}rem"
			/>
		</div>
		<label>{{ this.definition.combinedName }}</label>
		{{ else }}
		<label class="points">[{{ this.points }}]</label>
		{{#if @root.editMode}}
		<div data-id="{{ this.id }}" data-type="attribute" class="field">
			<input
				name="attributes.{{ this.id }}.adj"
				class="input number"
				type="text"
				data-dtype="Number"
				value="{{ this.effective }}"
				style="min-width: {{ length this.effective }}rem"
			/>
		</div>
		{{ else }}
		<div data-id="{{ this.id }}" data-type="attribute" class="field rollable {{ effective this }}">
			<input
				class="input number"
				type="text"
				value="{{ this.effective }}"
				style="min-width: {{ length this.effective }}rem"
				disabled
			/>
		</div>
		{{/if}}
		<label>{{ this.definition.combinedName }}</label>
		{{/if}} {{/each}}
	</div>
</div>
