<li class="prereq">
		<input style="display: none;" name="system.prereqs.{{ this.index }}.id" value="{{this.id}}" data-dtype="String">
    <div class="top">
        <a class="button gcs-trash"
           data-action="remove-prereq"
           data-id="{{ this.id }}"></a>
        <select name="system.prereqs.{{ this.index }}.has" data-dtype="Boolean">
            {{#select this.has}}
            {{#each @root.config.select.has as |v k|}}
                <option value="{{ k }}">{{ localize v }}</option>
            {{/each}}
            <option value="sm">{{ localize "gurps.attribute.size" }}</option>
            <option value="dodge">{{ localize "gurps.attribute.dodge" }}</option>
            <option value="parry">{{ localize "gurps.attribute.parry" }}</option>
            <option value="block">{{ localize "gurps.attribute.block" }}</option>
        {{/select}}
    </select>
    <select class="type" name="system.prereqs.{{ this.index }}.type" data-id="{{ this.id }}">
        {{#select this.type}}
        {{#each @root.config.select.prereq_strict as |v k|}}
            <option value="{{ k }}">{{ localize v }}</option>
        {{/each}} {{/select}}
    </select>
</div>
<div>
    <div class="placeholder"></div>
    <select name="system.prereqs.{{ this.index }}.which">
        {{#select this.which}}
        {{#each attributes as |v k|}}
            <option value="{{ k }}">{{ v }}</option>
        {{/each}} {{/select}}
    </select>
    <select name="system.prereqs.{{ this.index }}.combined_with">
        {{#select this.combined_with}}
        <option value=""></option>
        {{#each attributes as |v k|}}
            <option value="{{ k }}">{{ localize "gurps.field_prefix.combined_with" }} {{ v }}</option>
        {{/each}} {{/select}}
    </select>
    <select name="system.prereqs.{{ this.index }}.qualifier.compare">
        {{#select this.qualifier.compare}}
        {{#each @root.config.select.numeric_criteria as |v k|}}
            <option value="{{ k }}">{{ localize "gurps.field_prefix.attribute_level" }} {{ localize v }}</option>
        {{/each}} {{/select}}
    </select>
    <div class="field">
        <input type="text" name="system.prereqs.{{ this.index }}.qualifier.qualifier" value="{{ this.qualifier.qualifier }}" data-dtype="Number" {{ disabled (eq this.qualifier.compare "none") }} />
    </div>
</div>
</li>
