<li class="prereq">
	<div class="top">
		<a class="button gcs-trash" data-action="remove-prereq" data-path="{{ path }}"></a>
		<select name="{{ path }}.has" data-dtype="Boolean">
			{{#select this.has}} {{#each @root.config.select.has as |v k|}}
			<option value="{{ k }}">{{ localize v }}</option>
			{{/each}} {{/select}}
		</select>
		<select class="type" name="{{ path }}.type" data-path="{{ path }}">
			{{#select this.type}} {{#each @root.config.select.prereq_strict as |v k|}}
			<option value="{{ k }}">{{ localize v }}</option>
			{{/each}} {{/select}}
		</select>
		<select name="{{ path }}.qualifier.compare">
			{{#select this.qualifier.compare}} {{#each @root.config.select.numeric_criteria_strict as |v k|}}
			<option value="{{ k }}">{{ v }}</option>
			{{/each}} {{/select}}
		</select>
		<div class="field">
			<input
				type="text"
				name="{{ path }}.qualifier.qualifier"
				value="{{ this.qualifier.qualifier }}"
				data-dtype="Number"
			/>
		</div>
	</div>
</li>
