<li class="prereq">
		<input style="display: none;" name="system.prereqs.{{ this.index }}.id" value="{{this.id}}" data-dtype="String">
    <div class="top">
        <a class="button gcs-trash"
           data-action="remove-prereq"
           data-id="{{ this.id }}"></a>
        <select name="system.prereqs.{{ this.index }}.has" data-dtype="Boolean">
            {{#select this.has}}
            {{#each @root.config.select.has as |v k|}}
                <option value="{{ k }}">{{ localize v }}</option>
            {{/each}} {{/select}}
        </select>
        <select class="type" name="system.prereqs.{{ this.index }}.type" data-id="{{ this.id }}">
            {{#select this.type}}
            {{#each @root.config.select.prereq_strict as |v k|}}
                <option value="{{ k }}">{{ localize v }}</option>
            {{/each}} {{/select}}
        </select>
    </div>
    <div>
        <div class="placeholder"></div>
        <select name="system.prereqs.{{ this.index }}.name.compare">
            {{#select this.name.compare}}
            {{#each @root.config.select.string_criteria as |v k|}}
                <option value="{{ k }}">{{ localize "gurps.field_prefix.name" }} {{ localize v }}</option>
            {{/each}} {{/select}}
        </select>
        <div class="field">
            <input type="text" name="system.prereqs.{{ this.index }}.name.qualifier" value="{{ this.name.qualifier }}" data-dtype="String" {{ disabled (eq this.name.compare "none") }} />
        </div>
    </div>
</li>
