<li class="prereq">
		<input style="display: none;" name="system.prereqs.{{ this.index }}.type" value="{{this.type}}" data-dtype="String">
		<input style="display: none;" name="system.prereqs.{{ this.index }}.id" value="{{this.id}}" data-dtype="String">
		<input style="display: none;" name="system.prereqs.{{ this.index }}.prereqs" value="{{this.prereqs}}" data-dtype="String">
    <div class="top">
        {{#unless (eq this.id "root")}} <a class="button gcs-trash"
    data-action="remove-prereq"
    data-id="{{ this.id }}"></a> {{/unless}}
        <a class="button gcs-circled-add"
           data-action="add-prereq"
           data-id="{{ this.id }}"></a>
        <a class="button gcs-circled-vertical-ellipsis"
           data-action="add-prereq-list"
           data-id="{{ this.id }}"></a>
        <select name="system.prereqs.{{ this.index }}.when_tl.compare" data-dtype="String">
            {{#select prereq.when_tl.compare}}
            {{#each @root.config.select.numeric_criteria as |v k|}}
                <option value="{{ k }}">{{ localize "gurps.field_prefix.tech_level" }} {{ localize v }}</option>
            {{/each}} {{/select}}
        </select>
        <div class="field">
            <input type="text" name="system.prereqs.{{ this.index }}.when_tl.qualifier" value="{{ this.when_tl.qualifier }}" data-dtype="String" {{ disabled (eq this.when_tl.compare "none") }} />
        </div>
        <select name="system.prereqs.{{ this.index }}.all" data-dtype="Boolean">
            {{#select this.all}}
            {{#each @root.config.select.all as |v k|}}
                <option value="{{ k }}">{{ localize v }}</option>
            {{/each}} {{/select}}
        </select>
    </div>
    <ul>
        {{#each this.children}}
            {{#if (eq this.type "attribute_prereq")}}
                {{>item/partials/prereq/attribute-prereq }}
            {{/if}}
            {{#if (eq this.type "contained_quantity_prereq")}}
                {{>item/partials/prereq/contained-quantity-prereq }}
            {{/if}}
            {{#if (eq this.type "contained_weight_prereq")}}
                {{>item/partials/prereq/contained-weight-prereq }}
            {{/if}}
            {{#if (eq this.type "equipped_equipment_prereq")}}
                {{>item/partials/prereq/equipped-equipment-prereq }}
            {{/if}}
            {{#if (eq this.type "prereq_list")}}
                {{>item/partials/prereq/prereq-list }}
            {{/if}}
            {{#if (eq this.type "skill_prereq")}}
                {{>item/partials/prereq/skill-prereq }}
            {{/if}}
            {{#if (eq this.type "spell_prereq")}}
                {{>item/partials/prereq/spell-prereq }}
            {{/if}}
            {{#if (eq this.type "trait_prereq")}}
                {{>item/partials/prereq/trait-prereq }}
            {{/if}}
        {{/each}}
    </ul>
</li>
