<div id="apply-damage" autocomplete="off">
	<header>{{localize "gurps.dmgcalc.attacker"}}: {{calculator.attacker.name}}</header>
	<div class="fieldblock">
		<label>{{localize "gurps.dmgcalc.weapon"}}</label>
		<div class="field no-ref">
			<div>{{calculator.weapon.name}}</div>
			<div>
				<button
					type="button"
					class="gcs-reset"
					data-action="reset-form"
					{{disabled (not calculator.isOverridden)}}
				>&nbsp;{{localize "gurps.settings.reset_all"}}</button>
			</div>
		</div>

		<label>{{localize "gurps.dmgcalc.source_roll"}}</label>
		<div class="field no-stretch">
			<div>{{calculator.damageRoll.damageText}}</div>
			<select
				data-action="damagepool-select"
				name="pool"
				class="{{ifText calculator.damagePoolOverride 'overridden'}}"
			>
				{{#select this.calculator.damagePoolID}}
					{{#each this.calculator.damagePools}}
						<option value="{{id}}">{{fullName}}</option>
					{{/each}}
				{{/select}}
			</select>
		</div>
		<div></div>
		<label>{{localize "gurps.weapon.damage_type"}}</label>
		<div class="field no-stretch type">
			<select data-action="damagetype-select" class="{{ifText calculator.damageTypeOverride 'overridden'}}">
				{{selectOptions choices.damageType selected=calculator.damageTypeKey localize=true}}
			</select>
		</div>
		<div class="label ref" data-pdf="{{pageRef "damage_type"}}">{{pageRef "damage_type"}}</div>

		<label></label>
		<div class="field no-stretch">
			<label for="exp" class="check">
				<input
					id="exp"
					type="checkbox"
					class="{{ifText calculator.isExplosionOverride 'overridden'}}"
					data-action="override-isExplosion"
					{{checked calculator.isExplosion}}
				/>{{localize "gurps.dmgcalc.explosion"}}</label>
			<label for="internal" class="check">
				<input
					id="internal"
					type="checkbox"
					class="{{ifText calculator.isInternalOverride 'overridden'}}"
					data-action="override-internal"
					{{checked calculator.isInternalExplosion}}
				/>{{localize "gurps.dmgcalc.internal"}}</label>
		</div>
		<div class="label ref" data-pdf="{{pageRef "explosions"}}">{{pageRef "explosions"}}</div>

		<label>{{localize "gurps.weapon.armor_divisor"}}</label>
		<div class="field no-stretch">
			<select
				class="{{ifText (ne calculator.armorDivisorOverride undefined) 'overridden'}}"
				value="{{calculator.armorDivisor}}"
				data-action="armordivisor-select"
			>
				{{#select calculator.armorDivisor}}
					{{#if (customArmorDivisorSelect calculator.armorDivisor)}}
						<option value="-1" selected>Custom</option>
					{{/if}}
					<option value="0">{{localize "gurps.dmgcalc.armor_divisor.ignores_dr"}}</option>
					<option value="100">(100)</option>
					<option value="10">(10)</option>
					<option value="5">(5)</option>
					<option value="3">(3)</option>
					<option value="2">(2)</option>
					<option value="1">{{localize "gurps.dmgcalc.armor_divisor.no_divisor"}} </option>
					<option value="0.5">(0.5)</option>
					<option value="0.2">(0.2)</option>
					<option value="0.1">(0.1)</option>
				{{/select}}
			</select>
			{{!-- Commenting this out for now. Custom ADs require rationalizing Hardened DR to work.
			<label class="label" for="override-armordivisor">{{localize "gurps.dmgcalc.override"}}
				<span class="input-wrapper divide">
					<input
						id="override-armordivisor"
						type="number"
						data-action="override-armordivisor"
						value="{{calculator.armorDivisor}}"
						class="{{ifText (ne calculator.armorDivisorOverride undefined) 'overridden'}}"
						step="any"
						size="3"
					/>
				</span>
			</label> --}}
		</div>
		<div class="label ref" data-pdf="{{pageRef "armor_divisor"}}">{{pageRef "armor_divisor"}}</div>

		<label>{{localize "gurps.dmgcalc.range"}}</label>
		<div class="field no-stretch range">
			<input
				type="number"
				class="{{ifText calculator.rangeOverride 'overridden'}}"
				value="{{calculator.range}}"
				step="any"
				data-action="override-range"
			/>
			<label for="1/2D" class="check">
				<input
					id="1/2D"
					type="checkbox"
					class="{{ifText calculator.isHalfDamageOverride 'overridden'}}"
					{{checked calculator.isHalfDamage}}
					data-action="override-isHalfDamage"
				/>{{localize "gurps.dmgcalc.half_d"}}</label>
		</div>
		<div class="label ref" data-pdf="{{pageRef "ranged_half_damage"}}">{{pageRef "ranged_half_damage"}}</div>

		<label></label>
		<div class="field no-stretch">
			<label for="shotgun" class="check">
				<input
					id="shotgun"
					type="checkbox"
					class="{{ifText calculator.isShotgunCloseRangeOverride 'overridden'}}"
					{{checked calculator.isShotgunCloseRange}}
					data-action="override-isShotgunCloseRange"
				/>{{localize "gurps.dmgcalc.shotgun"}}
			</label>
			<label for="rof" class="label">{{localize "gurps.dmgcalc.rof"}}
				<span class="input-wrapper multiply">
					<input
						id="rof"
						type="number"
						class="{{ifText calculator.rofMultiplierOverride 'overridden'}}"
						value="{{calculator.rofMultiplier}}"
						step="any"
						size="3"
						data-action="override-rofMultiplier"
					/>
				</span>
			</label>
		</div>
		<div class="label ref" data-pdf="{{pageRef "shotguns_multiple_projectiles"}}">
			{{pageRef	"shotguns_multiple_projectiles"}}</div>
	</div>

	<div id="target">
		<header>{{localize "gurps.dmgcalc.target"}}: {{calculator.target.name}}</header>
		<div class="fieldblock">
			<label>{{localize "gurps.dmgcalc.injury_tolerance"}}</label>
			<div class="field">
				<select
					data-action="tolerance-select"
					value="{{calculator.injuryTolerance}}"
					class="{{ifText calculator.injuryToleranceOverride 'overridden'}}"
				>
					{{#select calculator.injuryTolerance}}
						<option value="None">{{localize "gurps.dmgcalc.tolerance.none"}}</option>
						<option value="Unliving">{{localize "gurps.dmgcalc.tolerance.unliving"}}</option>
						<option value="Homogenous">{{localize "gurps.dmgcalc.tolerance.homogenous"}}</option>
						<option value="Diffuse">{{localize "gurps.dmgcalc.tolerance.diffuse"}}</option>
					{{/select}}
				</select>
			</div>
			<div class="label ref" data-pdf="{{pageRef "injury_tolerance"}}">{{pageRef "injury_tolerance"}}</div>

			<label>{{localize "gurps.dmgcalc.damage_reduction"}}</label>
			<div class="field no-stretch">
				<select
					name="reduction"
					data-action="override-reduction"
					class="{{ifText calculator.damageReductionOverride 'overridden'}}"
				>
					{{#select calculator.damageReduction}}
						<option value="1">{{localize "gurps.dmgcalc.none"}}</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
					{{/select}}
				</select>
				<label class="label" for="override-reduction">{{localize "gurps.dmgcalc.override"}}
					<span class="input-wrapper divide">
						<input
							id="override-reduction"
							type="number"
							data-action="override-reduction"
							value="{{calculator.damageReduction}}"
							class="{{ifText calculator.damageReductionOverride 'overridden'}}"
							step="any"
							size="3"
						/>
					</span>
				</label>
			</div>
			<div class="label ref" data-pdf="{{pageRef "damage_reduction"}}">{{pageRef "damage_reduction"}}</div>

			<label>{{localize "gurps.dmgcalc.vulnerability"}}</label>
			<div id="vulnerability" class="field">
				{{#each calculator.vulnerabilities}}
					<div>
						<label for="vulnerability-{{@index}}" class="check">
							<input
								id="vulnerability-{{@index}}"
								type="checkbox"
								data-action="apply-vulnerability"
								data-index="{{@index}}"
								{{checked apply}}
								class="{{ifText apply 'overridden'}}"
							/>{{name}}</label>
					</div>
				{{/each}}
				<div>
					<span class="input-wrapper multiply">
						<input
							id="override-vulnerability"
							type="number"
							data-action="override-vulnerability"
							value="{{calculator.vulnerabilityLevel}}"
							class="{{ifText calculator.vulnerabilityOverride 'overridden'}}"
							step="any"
							size="3"
						/></span>
				</div>
			</div>
			<div class="label ref" data-pdf="{{pageRef "vulnerability"}}">{{pageRef "vulnerability"}}</div>
		</div>

		<nav class="nav-tabs" data-group="primary">
			{{#each calculator.hits}}
				<a data-tab="{{@index}}">
					{{#if this.isOverridden}}*{{/if}}
					{{this.basicDamage}}
					{{@root.calculator.damageType.id}}
					({{this.hitLocation.choice_name}})</a>
			{{/each}}
		</nav>
		<section class="content">
			{{#each calculator.hits}}
				<div class="tab browser" dagr-group="primary" data-tab="{{@index}}">
					<div class="fieldblock">
						<label>{{localize "gurps.character.basic_damage"}}</label>
						<div class="field no-stretch no-ref">
							<div>
								<input
									type="number"
									value="{{this.basicDamage}}"
									step="any"
									data-action="override-basic"
									data-index="{{@index}}"
									size="4"
									class="{{ifText this.basicDamageOverride 'overridden'}}"
								/>
								<button
									type="button"
									class="gcs-checkmark"
									data-index="{{@index}}"
									data-action="apply-basic"
								>{{localize "gurps.misc.apply"}}</button>
							</div>
							<div>
								<label class="label" for="override-woundingmod">Wounding Modifier
									<span class="input-wrapper multiply">
										<input
											id="override-woundingmod"
											type="number"
											data-action="override-woundingmod"
											data-index="{{@index}}"
											value="{{this.woundingModifier}}"
											class="{{ifText this.woundingModifierOverride 'overridden'}}"
											step="any"
											size="3"
										/>
									</span>
								</label>
							</div>
						</div>

						<label>{{localize "gurps.dmgcalc.hit_location"}}</label>
						<div class="field no-stretch location">
							<select
								name="hitLocation"
								class="{{ifText this.locationNameOverride 'overridden'}}"
								data-index="{{@index}}"
								data-action="location-select"
							>
								{{selectOptsGURPS
									@root.calculator.hitLocationChoice
									selected=this.locationName
									disabled="divider"
									localize=false
								}}
							</select>
							<button type="button" data-index="{{@index}}" data-action="location-random">
								<i class="fa-light fa-dice"></i>
							</button>
							<label for="override-dr" class="label">{{localize "gurps.character.body_type.dr"}}
								<input
									id="override-dr"
									type="number"
									data-action="override-dr"
									data-index="{{@index}}"
									value="{{this.damageResistance.value}}"
									step="any"
									size="6"
									class="{{ifText this.damageResistanceOverride 'overridden'}}"
								/>
							</label>
						</div>
						<div class="label ref" data-pdf="{{pageRef "hit_location"}}">{{pageRef "hit_location"}}</div>

						<label></label>
						<div class="field">
							<label for="flexible" class="check">
								<input
									id="flexible"
									type="checkbox"
									class="{{ifText this.flexibleArmorOverride 'overridden'}}"
									data-action="location-flexible"
									data-index="{{@index}}"
									{{checked this.flexibleArmorOverride}}
								/>{{localize "gurps.dmgcalc.flexible"}}</label>
						</div>
						<div class="label ref" data-pdf="{{pageRef "flexible_armor"}}">{{pageRef "flexible_armor"}}</div>

						<label>{{localize "gurps.dmgcalc.hardened_dr"}}</label>
						<div class="field">
							<select
								data-action="hardened-select"
								data-index="{{@index}}"
								class="{{ifText this.hardenedDROverride 'overridden'}}"
							>
								{{selectOptions @root.choices.hardened selected=this.hardenedDRLevel}}
							</select>
						</div>
						<div class="label ref" data-pdf="{{pageRef "hardened_dr"}}">{{pageRef "hardened_dr"}}</div>

						<div id="results">
							<div id="effects">
								<div class="table">
									<header>{{localize "gurps.dmgcalc.effects_table"}}</header>
									{{#each this.results.effects}}
										{{define "hit-index" @../index}}
										{{define "hit" ../this}}
										<button
											type="button"
											class="effect {{ifText (in @root.hit.overrides.effects @index) 'disabled'}}"
											data-action="injury-effect"
											data-index="{{@root.hit-index}}"
											data-effect-index="{{@index}}"
										>
											<div
												class="enable gcs-checkmark"
												style="visibility: {{ifText
													(in @root.hit.overrides.effects @index)
													'hidden'
													'inherit'
												}}"
											>
											</div>
											<div>{{this.displayName}}</div>
											<div class="descr">{{this.description}}</div>
										</button>
									{{/each}}
								</div>
							</div>

							<div id="calc">
								<div class="table">
									<header>{{localize "gurps.dmgcalc.calculation"}}</header>
									{{#each this.results.steps}}
										<div class="step">{{localize substep}}</div>
										<div class="value">{{{text}}}</div>
										<div class="descr">{{{notes}}}</div>
									{{/each}}
								</div>
							</div>

							<div class="apply">
								<button
									type="button"
									class="apply-button gcs-checkmark"
									data-action="apply-effects"
								>{{localize "gurps.dmgcalc.apply_checked"}}</button>
							</div>

							<div class="apply">
								<div class="label">{{localize
										"gurps.dmgcalc.injury"
									}}&nbsp;({{calculator.damagePool.name}})</div>
								<input
									type="number"
									class="{{ifText calculator.injuryOverride 'overridden'}}"
									value="{{calculator.injury}}"
									step="any"
									name="injury"
									size="4"
								/>
								<button
									type="button"
									class="apply-button gcs-checkmark"
									data-action="apply-injury"
								>{{localize "gurps.misc.apply"}}</button>
							</div>
						</div>

					</div>
				</div>
			{{/each}}
		</section>
	</div>
</div>
