{{#if this.actor.BodyType.isNested}}
<div class="roll" style="text-align: left; text-indent: {{this.indent}}px;">{{this.rollRange}}</div>
<div class="location" style="text-align: left; text-indent: {{this.indent}}px;">{{this.tableName}}</div>
{{else}}
<div class="roll" style="text-align: center">{{this.rollRange}}</div>
<div
	class="location"
	style="text-align: center"
	data-tooltip="{{this.descriptionTooltip}}"
	data-tooltip-direction="DOWN"
>
	{{this.tableName}}
</div>
{{/if}}
<div
	data-modifier="{{ror this.hit_penalty 0}}"
	data-comment="{{localize 'gurps.character.body_type.penalty_for' name=this.table_name}}"
	data-type="modifier"
	class="penalty rollable"
>
	{{signed (ror this.hitPenalty 0)}}
</div>
<div class="dr" data-tooltip="{{this.tooltip}}" data-tooltip-direction="DOWN">{{this.displayDR}}</div>
