<div class="tab lifting" data-group="lifting" data-tab="lifting">
	<div class="lift">{{lifting.basic_lift}}</div>
	<label>{{localize "gurps.character.lifting.basic_lift"}}</label>
	<div class="lift">{{lifting.one_handed_lift}}</div>
	<label>{{localize "gurps.character.lifting.one_handed_lift"}}</label>
	<div class="lift">{{lifting.two_handed_lift}}</div>
	<label>{{localize "gurps.character.lifting.two_handed_lift"}}</label>
	<div class="lift">{{lifting.shove}}</div>
	<label>{{localize "gurps.character.lifting.shove"}}</label>
	<div class="lift">{{lifting.running_shove}}</div>
	<label>{{localize "gurps.character.lifting.running_shove"}}</label>
	<div class="lift">{{lifting.carry_on_back}}</div>
	<label>{{localize "gurps.character.lifting.carry_on_back"}}</label>
	<div class="lift">{{lifting.shift_slightly}}</div>
	<label>{{localize "gurps.character.lifting.shift_slightly"}}</label>
</div>