<div class="desc item{{#if (isContainer this)}} container{{/if}} other" data-item-id="{{ this._id }}" {{{indent
	this.parents.lengtht}}}>
	<div class="dropdown">
		{{#if (isContainer this)}}
		{{#if this.system.open }}
		{{>actor/character/sections/dropdown-open }}
		{{ else }}
		{{>actor/character/sections/dropdown-closed }}
		{{/if }}
		{{/if }}
	</div>
	<div class="md">{{{this.formattedName}}}</div>
</div>
<div class="reference">{{{ref this.system.reference}}}</div>
{{#if this.system.open }}
{{#each (sort this.children "sort")}}
{{>actor/character/sections/note }}
{{/each }}
{{/if }}
