<div id="points">
	<div class="header">
		{{pb.total}} {{localize "gurps.character.points.title"}}
		<a class="gcs-edit edit-points"></a>
	</div>
	<div class="fieldblock">
		{{#if pb.overspent}}
		<div class="field"><input type="text" class="input overspent" value="{{pb.unspent}}" disabled /></div>
		<div class="label overspent">{{localize "gurps.character.points.overspent"}}</div>
		{{else}}
		<div class="field"><input type="text" value="{{pb.unspent}}" disabled /></div>
		<div class="label">{{localize "gurps.character.points.unspent"}}</div>
		{{/if}}
		<div class="field">
			<input type="text" value="{{pb.ancestry}}" disabled />
		</div>
		<div class="label">{{localize "gurps.character.points.ancestry"}}</div>
		<div class="field">
			<input type="text" value="{{pb.attributes}}" disabled />
		</div>
		<div class="label">{{localize "gurps.character.points.attributes"}}</div>
		<div class="field">
			<input type="text" value="{{pb.advantages}}" disabled />
		</div>
		<div class="label">{{localize "gurps.character.points.advantages"}}</div>
		<div class="field">
			<input type="text" value="{{pb.disadvantages}}" disabled />
		</div>
		<div class="label">{{localize "gurps.character.points.disadvantages"}}</div>
		<div class="field">
			<input type="text" value="{{pb.quirks}}" disabled />
		</div>
		<div class="label">{{localize "gurps.character.points.quirks"}}</div>
		<div class="field">
			<input type="text" value="{{pb.skills}}" disabled />
		</div>
		<div class="label">{{localize "gurps.character.points.skills"}}</div>
		<div class="field">
			<input type="text" value="{{pb.spells}}" disabled />
		</div>
		<div class="label">{{localize "gurps.character.points.spells"}}</div>
	</div>
</div>
