<li data-item-id="{{ item.id }}" {{#if isContainer}} data-is-container {{/if}}>
    <div class="data">
        <div
            class="item-name"
            data-disabled="{{ not item.enabled }}"
            data-tooltip-direction="DOWN"
            data-tooltip="{{ item.resolvedTooltip }}"
            {{{ indent item.parents.length }}}
            >
            {{{ dropdown item }}}
            <span class="name">
                {{ item.formattedName }}
                <span class="container-type">
                    {{#if (and isContainer (ne item.system.container_type "group"))}}
                        {{ localize (concat "gurps.character.traits.container_type." item.system.container_type) }}
                    {{/if}}
                </span>
            </span>
            {{{ item.resolvedNotes }}}
        </div>
        <span class="points">{{ item.adjustedPoints }}</span>
        <div class="reference">{{{ ref item.system.reference }}}</div>
    </div>
    <div class="item-summary" hidden="hidden"></div>
    {{#if item.system.open}}
        <ul class="items" data-item-list data-container-id="{{ item.id }}">
            {{#each children}}
                {{>actor/character/sections/trait inContainer=true}}
            {{/each}}
        </ul>
    {{/if}}
</li>
