<form class="{{ cssClass }}" autocomplete="off">
	<section id="details">
		<label>{{ localize "gurps.item.img" }}</label>
		<div class="field">
			<div class="img-display" style="background-image: url({{ document.img }})">
				<img src="{{ document.img }}" data-edit="img" title="{{ document.name }}" />
			</div>
		</div>
		<label>{{ localize "gurps.item.name" }}</label>
		<div class="field">
			<input type="text" name="name" value="{{ item.name }}" data-dtype="String" />
		</div>
		<label>{{ localize "gurps.item.notes" }}</label>
		<div class="field">
			<input type="text" name="system.notes" value="{{ system.notes }}" data-dtype="String" />
		</div>
		<label>{{ localize "gurps.item.vtt_notes" }}</label>
		<div class="field">
			<input type="text" name="system.vtt_notes" value="{{ system.vtt_notes }}" data-dtype="String" />
		</div>
		<label>{{ localize "gurps.item.userdesc" }}</label>
		<div class="field">
			<input type="text" name="system.userdesc" value="{{ system.userdesc }}" data-dtype="String" />
		</div>
		<label>{{ localize "gurps.item.tags" }}</label>
		<div class="field">
			<input type="text" name="system.tags" value="{{ join system.tags ', ' }}" data-dtype="String" />
		</div>
		<label class="label"></label>
		<div class="field">
			<label class="check">
				<input
					name="system.disabled"
					type="checkbox"
					data-dtype="Boolean"
					{{
					checked
					(not
					system.disabled)
					}}
				/>
				{{ localize "gurps.item.enabled" }}
			</label>
		</div>
		<label>{{ localize "gurps.item.point_cost" }}</label>
		<div class="field no-stretch">
			<input type="text" data="{{ document.adjustedPoints }}" readonly tabindex="-1" />
			<label class="check">
				<input type="checkbox" checked />
				{{ localize "gurps.item.round_down" }}
			</label>
		</div>
		<label>{{ localize "gurps.item.base_cost" }}</label>
		<div class="field">{{ numberInput system.base_points name="system.base_points" }}</div>
		<label class="check" style="justify-self: end">
			<input type="checkbox" name="system.can_level" data-dtype="Boolean" {{ checked system.can_level }} />
			{{ localize "gurps.item.levels" }}
		</label>
		<div class="field no-stretch">
			<input
				type="text"
				name="system.levels"
				value="{{ system.levels }}"
				data-dtype="Number"
				{{
				disabled
				(not
				system.can_level)
				}}
			/>
			<label>{{ localize "gurps.item.points_per_level" }}</label>
			<input
				type="text"
				name="system.points_per_level"
				value="{{ system.points_per_level }}"
				data-dtype="Number"
				{{
				disabled
				(not
				system.can_level)
				}}
			/>
		</div>
		<label>{{ localize "gurps.item.cr" }}</label>
		<div class="field">
			<select name="system.cr" data-dtype="Number">
				{{#select system.cr }} {{#each @root.config.select.cr_level as |v k| }}
				<option value="{{ k }}">{{ localize v }}</option>
				{{/each }} {{/select }}
			</select>
		</div>
		<label>{{ localize "gurps.item.cr_adj" }}</label>
		<div class="field">
			<select name="system.cr_adj" data-dtype="String" {{ disabled (eq system.cr 0 ) }}>
				{{#select system.cr_adj }} {{#each @root.config.select.cr_adj as |v k| }}
				<option value="{{ k }}">{{ localize v }}</option>
				{{/each }} {{/select }}
			</select>
		</div>
		<label>{{ localize "gurps.item.reference" }}</label>
		<div class="field">
			<input type="text" name="system.reference" value="{{ system.reference }}" data-dtype="String" />
		</div>
		<label>{{ localize "gurps.item.reference_highlight" }}</label>
		<div class="field">
			<input
				type="text"
				name="system.reference_highlight"
				value="{{ system.reference_highlight }}"
				data-dtype="String"
			/>
		</div>
	</section>
	{{>item/sections/prereqs }} {{>item/sections/features }} {{#with itemColletions.modifiers as |section|}}
	<div id="trait-modifiers">
		<header>
			<span class="enabled">
				<i class="gcs-checkmark"></i>
			</span>
			<span class="desc">{{ localize "gurps.item.modifier_desc" }}</span>
			<span class="cost">{{ localize "gurps.item.modifier_point_cost" }}</span>
			<span class="tags">{{ localize "gurps.item.tags" }}</span>
			<span class="reference">
				<i class="gcs-bookmark"></i>
			</span>
		</header>
		<ul class="items" data-item-list data-item-section="{{ section.name }}" data-item-types="{{ section.types }}">
			{{#each section.items}}
			<li data-item-id="{{ item.id }}">
				<div class="data">
					<div class="item-name">
						<div class="name">{{ item.system.usage }}</div>
						{{{ item.resolvedNotes }}}
					</div>
				</div>
			</li>
			{{/each}}
		</ul>
	</div>
	{{/with}} {{>item/sections/melee }} {{>item/sections/ranged }} {{>item/sections/study}}
</form>
