{{#if (in this.definition.type "_separator")}}
<div class="separator_parent">
	<div class="separator" data-text="{{this.definition.name}}">{{this.definition.name}}</div>
</div>
{{else if (or (eq this.definition.type "integer_ref") (eq this.attribte_def.type "decimal_ref"))}}
<div class="field">
	<input class="number" type="text" value="{{this.max}}" disabled style="min-width: {{length this.max}}ch;" />
</div>
<label>{{this.definition.combinedName}}</label>
{{else}}
<label>{{this.definition.combinedName}}</label>
<div class="field">
	<input
		name="attributes.{{this.id}}.adj"
		class="input number"
		type="text"
		data-dtype="Number"
		value="{{this.max}}"
		style="min-width: {{length this.max}}ch;"
	/>
</div>
{{/if}}
