<form autocomplete="off">
	<div id="identity" class="fieldblock">
		<label>{{localize "gurps.character.name"}}</label>
		<div class="field">
			<input type="text" name="profile.name" value="{{actor.profile.name}}" data-dtype="String" />
		</div>
		<label>{{localize "gurps.character.title"}}</label>
		<div class="field">
			<input type="text" name="profile.title" value="{{actor.profile.title}}" data-dtype="String" />
		</div>
		<label>{{localize "gurps.character.appearance"}}</label>
		<div class="field">
			<textarea type="text" name="profile.userdesc" data-dtype="String">{{textareaFormat actor.profile.appearance
				}}</textarea>
		</div>
	</div>
	<div class="fieldblock">
		<div id="attributes">
			<header>{{localize "gurps.mook.attributes"}}</header>
			<div class="content">
				<div id="primary-attributes" class="fieldblock">
					{{#each primary_attributes}}
					{{>mook-generator/attribute}}
					{{/each}}
					{{#each point_pools}}
					{{>mook-generator/attribute}}
					{{/each}}
					<label>{{localize "gurps.character.basic_thrust"}}</label>
					<div class="field">
						<input name="thrust" class="input number" type="text" data-dtype="String" value="{{actor.thrust.string}}"
							style="min-width: {{length basic_thrust}}ch;" />
					</div>
					<label>{{localize "gurps.character.basic_swing"}}</label>
					<div class="field">
						<input name="swing" class="input number" type="text" data-dtype="String" value="{{actor.swing.string}}"
							style="min-width: {{length basic_swing}}ch;" />
					</div>
				</div>
				<div id="secondary-attributes" class="fieldblock">
					{{#each secondary_attributes}}
					{{>mook-generator/attribute}}
					{{/each}}
				</div>
			</div>
		</div>
		<div id="catchall">
			<header>{{localize "gurps.mook.notes"}}</header>
			<textarea name="text.catchall" type="text">{{text.catchall}}</textarea>
		</div>
	</div>
	<div id="embeds">
		<div id="melee">
			<header>{{localize "gurps.mook.melee"}}</header>
			<textarea name="text.melee" type="text">{{text.melee}}</textarea>
		</div>
		<div id="ranged">
			<header>{{localize "gurps.mook.ranged"}}</header>
			<textarea name="text.ranged" type="text">{{text.ranged}}</textarea>
		</div>
		<div id="traits">
			<header>{{localize "gurps.mook.traits"}}</header>
			<textarea name="text.traits" type="text">{{text.traits}}</textarea>
		</div>
		<div id="skills">
			<header>{{localize "gurps.mook.skills"}}</header>
			<textarea name="text.skills" type="text">{{text.skills}}</textarea>
		</div>
		<div id="equipment">
			<header>{{localize "gurps.mook.equipment"}}</header>
			<textarea name="text.equipment" type="text">{{text.equipment}}</textarea>
		</div>
		<div id="spells">
			<header>{{localize "gurps.mook.spells"}}</header>
			<textarea name="text.spells" type="text">{{text.spells}}</textarea>
		</div>
	</div>
	<div id="buttons">
		<button id="import"><i class="fas fa-pen-to-square"></i><span>{{localize "gurps.mook.import"}}</span></button>
		<button id="create"><i class="fas fa-arrow-turn-down-left"></i><span>{{button_text}}</span></button>
	</div>
</form>
