<div
	class="desc item{{#if (isContainer entry)}} container{{/if}}"
	data-entry-uuid="{{entry.uuid}}"
	data-tooltip-direction="DOWN"
	data-tooltip="{{entry.resolvedTooltip}}"
	{{{indent
	entry.parents.length}}}
>
	<div class="dropdown">
		{{#if (isContainer entry) }} {{#if entry.open }} {{>actor/character/sections/dropdown-open }} {{ else }}
		{{>actor/character/sections/dropdown-closed }} {{/if }} {{/if }}
	</div>
	<div class="name">{{ entry.name }}</div>
	{{{entry.resolvedNotes}}}
</div>
<div class="uses">{{ entry.maxUses }}</div>
<div class="tech-level">{{ entry.techLevel }}</div>
<div class="legality-class">{{ entry.system.legality_class }}</div>
<div class="value">{{ entry.extendedValue }}</div>
<div class="weight">{{ entry.extendedWeight }}</div>
<div class="tags">{{join entry.tags ", "}}</div>
<div class="reference">{{{ref entry.reference}}}</div>
{{#if entry.system.open }} {{#each (sort entry.children "sort") }} {{>actor/character/sections/other-equipment }}
{{/each }} {{/if }}
