<div
	class="desc item{{#if (isContainer this)}} container{{/if}} other"
	data-entry-uuid="{{this.uuid}}"
	data-tooltip-direction="DOWN"
	data-tooltip="{{this.resolvedTooltip}}"
	{{{indent
	this.parents.length}}}
>
	<div class="dropdown">
		{{#if (isContainer this)}} {{#if this.system.open}} {{>actor/character/sections/dropdown-open}} {{else}}
		{{>actor/character/sections/dropdown-closed}} {{/if}} {{/if}}
	</div>
	<div class="name">{{this.formattedName}}</div>
	{{{this.resolvedNotes}}}
</div>
<div class="difficulty">{{this.difficulty}}</div>
<div class="tags">{{join this.tags ", "}}</div>
<div class="reference">{{{ref this.system.reference}}}</div>
{{#if this.system.open}} {{#each (sort this.children "sort")}} {{>actor/character/sections/skill}} {{/each}} {{/if}}
