<form class="{{ cssClass }}" autocomplete="off">
	<div id="sheet">
		<div id="details">
			<label>{{ localize "gurps.item.img" }}</label>
			<div class="field">
				<div class="img-display" style="background-image: url({{ document.img }})">
					<img src="{{ document.img }}" data-edit="img" title="{{ document.name }}" />
				</div>
			</div>
			<label>{{ localize "gurps.item.name" }}</label>
			<div class="field">
				<input type="text" name="name" value="{{ item.name }}" data-dtype="String" />
			</div>
			<label>{{ localize "gurps.item.notes" }}</label>
			<div class="field">
				<textarea type="text" name="system.notes" data-dtype="String">{{textareaFormat system.notes}}</textarea>
			</div>
			<label>{{ localize "gurps.item.vtt_notes" }}</label>
			<div class="field">
				<textarea type="text" name="system.vtt_notes" data-dtype="String">
{{textareaFormat
						system.vtt_notes
}}</textarea
				>
			</div>
			<label>{{ localize "gurps.item.tags" }}</label>
			<div class="field">
				<input type="text" name="system.tags" value="{{ join system.tags ', ' }}" data-dtype="String" />
			</div>
			<label>{{ localize "gurps.item.difficulty" }}</label>
			<div class="field">
				<select name="system.difficulty" data-dtype="String">
					{{#select system.difficulty}} {{#each @root.config.select.difficulty as |v k|}}
					<option value="{{ k }}">{{ localize v }}</option>
					{{/each}} {{/select}}
				</select>
			</div>
			<label>{{ localize "gurps.item.defaults_to" }}</label>
			<div class="field no-stretch">
				<select name="system.default.type" data-dtype="String">
					{{#select system.default.type}}
					<option value="10">10</option>
					{{#each attributes as |v k|}}
					<option value="{{ k }}">{{ localize v }}</option>
					{{/each}}
					<option value="dodge">{{ localize "gurps.enum.defaults.dodge" }}</option>
					<option value="parry">{{ localize "gurps.enum.defaults.parry" }}</option>
					<option value="block">{{ localize "gurps.enum.defaults.block" }}</option>
					<option value="skill">{{ localize "gurps.enum.defaults.skill" }}</option>
					{{/select}}
				</select>
				<input type="text" name="system.default.name" value="{{ system.default.name }}" data-dtype="String" />
				<input
					type="text"
					name="system.default.specialization"
					value="{{ system.default.specialization }}"
					data-dtype="String"
				/>
				<input
					type="text"
					name="system.default.modifier"
					value="{{ system.default.modifier }}"
					data-dtype="Number"
				/>
			</div>
			<label></label>
			<div class="field no-stretch">
				<label class="check">
					<input type="checkbox" name="system.limited" data-dtype="Boolean" {{ checked system.limited }} />
					{{ localize "gurps.item.limit" }}
				</label>
				{{#if system.limited}}
				<input type="text" name="system.limit" value="{{ system.limit }}" data-dtype="Number" />
				{{ else }}
				<input type="text" name="system.limit" value="{{ system.limit }}" data-dtype="Number" disabled />
				{{/if}}
			</div>
			{{#if document.actor}}
			<label>{{ localize "gurps.item.points" }}</label>
			<div class="field no-stretch">
				<input type="text" name="system.points" value="{{ system.points }}" data-dtype="Number" />
				<input
					type="text"
					value="{{ document.skillLevel }}/{{ document.relativeLevel }}"
					readonly
					tabindex="-1"
				/>
			</div>
			{{/if}}
			<label>{{ localize "gurps.item.reference" }}</label>
			<div class="field">
				<input type="text" name="system.reference" value="{{ system.reference }}" data-dtype="String" />
			</div>
			<label>{{ localize "gurps.item.reference_highlight" }}</label>
			<div class="field">
				<input
					type="text"
					name="system.reference_highlight"
					value="{{ system.reference_highlight }}"
					data-dtype="String"
				/>
			</div>
		</div>
		{{>item/sections/prereqs}} {{>item/sections/defaults attributes=attributes sysPrefix=sysPrefix}}
		{{>item/sections/features}} {{>item/sections/melee}} {{>item/sections/ranged}} {{>item/sections/study}}
	</div>
</form>
