<form class="{{ cssClass }}" autocomplete="off">
	<div id="personal">
		{{>actor/character/partials/portrait }} {{>actor/character/partials/identity }}
		{{>actor/character/partials/miscellaneous }} {{>actor/character/partials/description }}
		{{>actor/character/partials/points pb=actor.pointsBreakdown}}
	</div>
	<div id="stats">
		<div id="attributes">
			{{>actor/character/partials/primary-attributes }} {{>actor/character/partials/basic-damage }}
			{{>actor/character/partials/secondary-attributes }} {{>actor/character/partials/pool-attributes }}
		</div>
		<div id="hit-locations">
			<div class="header body-plan">{{ actor.hitLocationTable.name }}</div>
			<div class="header roll rollable" data-type="location">{{ localize "gurps.character.body_type.roll" }}</div>
			<div class="header location">{{ localize "gurps.character.body_type.location" }}</div>
			<div class="header dr">{{ localize "gurps.character.body_type.dr" }}</div>
			{{#each actor.hitLocationTable.locations }} {{>actor/character/partials/hit-location}} {{/each }}
		</div>
		<div id="encumbrance-lifting">
			{{>actor/character/partials/encumbrance }}
			<div id="lifting-macros">
				<nav class="header tabs-navigation" data-group="lifting">
					<a class="item" data-tab="lifting">{{ localize "gurps.character.lifting.title" }}</a>
					<a class="item" data-tab="macros">{{ localize "gurps.character.macros.title" }}</a>
				</nav>
				<section class="tabs-content">
					{{>actor/character/partials/lifting }} {{>actor/character/partials/macros }}
				</section>
			</div>
		</div>
		<div id="resource-trackers">{{>actor/character/partials/resource-trackers }}</div>
		<div id="move">{{>actor/character/partials/move }}</div>
	</div>
	{{>actor/character/partials/embeds}}
	<div id="footer">
		<div class="left">{{{ localize "gurps.character.copyright" current_year=current_year }}}</div>
		<div class="right">
			<a tabindex="-1" href="https://gurpscharactersheet.com/">gurpscharactersheet.com</a>
		</div>
	</div>
</form>
