<div class="add">
	<a class="gcs-circled-add" data-action="add-attribute"></a>
	{{#if actor}}
	<a class="gcs-reset" data-action="reset-all" data-type="attribute"></a>
	<div>{{ localize "gurps.settings.reset_all" }}</div>
	{{/if}}
	<a class="data-import fas fa-file-import" data-type="attribute"></a>
	<a class="data-export fas fa-file-export" data-type="attribute"></a>
</div>
<ul data-item-list data-type="attribute">
	{{#each attributes.attributes}}
	<li class="item" data-id="{{ this.id }}" data-index="{{@index}}" data-type="attribute">
		<div class="controls">
			<a class="gcs-grip drag" data-index="{{@index}}" data-type="attribute"></a>
			<a class="gcs-trash" data-index="{{@index}}" data-action="remove-attribute"></a>
			{{#if (eq this.type "pool")}}
			<a class="gcs-circled-add" data-id="{{@index}}" data-action="att-attribute-threshold"></a>
			{{/if}}
		</div>
		<div class="fieldblock">
			{{#if (in this.type "_separator")}}
			<label>{{ localize "gurps.definition.id" }}</label>
			<div class="field">
				<input
					type="text"
					name="array.system.settings.attributes.{{@index}}.id"
					value="{{ this.id }}"
					data-dtype="String"
				/>
			</div>
			<label>{{ localize "gurps.definition.type" }}</label>
			<div class="field">
				<select name="array.system.settings.attributes.{{@index}}.type" data-dtype="String">
					{{#select this.type}} {{#each @root.config.select.attribute as |v k|}}
					<option value="{{ k }}">{{ localize v }}</option>
					{{/each}} {{/select}}
				</select>
			</div>
			<label>{{ localize "gurps.definition.name" }}</label>
			<div class="field">
				<input
					type="text"
					name="array.system.settings.attributes.{{@index}}.name"
					value="{{ this.name }}"
					data-dtype="String"
				/>
			</div>
			{{ else }}
			<label>{{ localize "gurps.definition.id" }}</label>
			<div class="field">
				<input
					type="text"
					name="array.system.settings.attributes.{{@index}}.id"
					value="{{ this.id }}"
					data-dtype="String"
				/>
			</div>
			<label>{{ localize "gurps.definition.type" }}</label>
			<div class="field">
				<select name="array.system.settings.attributes.{{@index}}.type" data-dtype="String">
					{{#select this.type}} {{#each @root.config.select.attribute as |v k|}}
					<option value="{{ k }}">{{ localize v }}</option>
					{{/each}} {{/select}}
				</select>
			</div>
			<label>{{ localize "gurps.definition.short_name" }}</label>
			<div class="field">
				<input
					type="text"
					name="array.system.settings.attributes.{{@index}}.name"
					value="{{ this.name }}"
					data-dtype="String"
				/>
			</div>
			<label>{{ localize "gurps.definition.full_name" }}</label>
			<div class="field">
				<input
					type="text"
					name="array.system.settings.attributes.{{@index}}.full_name"
					value="{{ this.full_name }}"
					data-dtype="String"
				/>
			</div>
			<label>{{ localize "gurps.definition.base" }}</label>
			<div class="field">
				<input
					type="text"
					name="array.system.settings.attributes.{{@index}}.base"
					value="{{ this.base }}"
					data-dtype="String"
				/>
			</div>
			{{#unless (in this.type "_ref")}}
			<label>{{ localize "gurps.definition.cost_per_point" }}</label>
			<div class="field">
				<input
					type="text"
					name="array.system.settings.attributes.{{@index}}.cost_per_point"
					value="{{ this.cost_per_point }}"
					data-dtype="Number"
				/>
			</div>
			<label>{{ localize "gurps.definition.cost_adj_percent_per_sm" }}</label>
			<div class="field">
				<input
					type="text"
					name="array.system.settings.attributes.{{@index}}.cost_adj_percent_per_sm"
					value="{{ this.cost_adj_percent_per_sm }}"
					data-dtype="Number"
				/>
			</div>
			{{/unless}} {{#if (eq this.type "pool")}}
			<ul data-item-list data-type="attribute-threshold">
				{{#each this.thresholds}} {{>actor/character/config/threshold id=@../index
				parent="array.system.settings.attributes"}} {{/each}}
			</ul>
			{{/if}} {{/if}}
		</div>
	</li>
	{{/each}}
</ul>
