<li class="item" data-index="{{@index}}" data-type="threshold">
    <div class="controls">
        <a class="gcs-grip drag"
           data-pindex="{{ id }}"
           data-index="{{@index}}"
           data-type="{{#if (in parent 'resource_trackers')}}resourceTrackerThreshold{{ else }}attributeThreshold{{/if}}"></a>
        <a class="gcs-trash delete"
           data-pindex="{{ id }}"
           data-index="{{@index}}"
           data-action="{{#if (in parent 'resource_trackers')}}remove-resource-tracker-threshold{{ else }}remove-attribute-threshold{{/if}}"></a>
    </div>
    <div class="fieldblock">
        <label>{{ localize "gurps.definition.state" }}</label>
        <div class="field">
            <input type="text"
                   name="{{ parent }}.{{ id }}.thresholds.{{@index}}.state"
                   value="{{ this.state }}"
                   data-dtype="String" />
        </div>
        <label>{{ localize "gurps.definition.expression" }}</label>
        <div class="field">
            <input type="text"
                   name="{{ parent }}.{{ id }}.thresholds.{{@index}}.expression"
                   value="{{ this.expression }}"
                   data-dtype="String" />
        </div>
        {{#unless (in parent "resource_trackers")}}
        <label></label>
        <div class="field">
            <label class="check">
                <input type="checkbox" name="{{ parent }}.{{ id }}.thresholds.{{@index}}.halve_move" data-dtype="Boolean" {{ checked (in this.ops "halve_move") }} />
                {{ localize "gurps.definition.halve_move" }}
            </label>
        </div>
        <label></label>
        <div class="field">
            <label class="check">
                <input type="checkbox" name="{{ parent }}.{{ id }}.thresholds.{{@index}}.halve_dodge" data-dtype="Boolean" {{ checked (in this.ops "halve_dodge") }} />
                {{ localize "gurps.definition.halve_dodge" }}
            </label>
        </div>
        <label></label>
        <div class="field">
            <label class="check">
                <input type="checkbox" name="{{ parent }}.{{ id }}.thresholds.{{@index}}.halve_st" data-dtype="Boolean" {{ checked (in this.ops "halve_st") }} />
                {{ localize "gurps.definition.halve_st" }}
            </label>
        </div>
    {{/unless}}
    <label>{{ localize "gurps.definition.explanation" }}</label>
    <div class="field">
        <input type="text"
               name="{{ parent }}.{{ id }}.thresholds.{{@index}}.explanation"
               value="{{ this.explanation }}"
               data-dtype="String" />
    </div>
</div>
</li>
