<fieldset>
	<legend>{{localize "GURPS.Item.TraitModifier.DetailsLegend"}}</legend>

	<!-- Notes -->
	{{formField fields.notes value=source.notes localize=true editable=editable replacements=replacements}}

	<!-- Enabled -->
	<div class="form-group">
		<label>{{localize "GURPS.Item.TraitModifier.FIELDS.Enabled.Name"}}</label>
		<div class="form-fields">
			{{formInput fields.disabled value=(not source.disabled) name="system.enabled" editable=editable}}
		</div>
	</div>

	<!-- Point Cost -->
	<div class="form-group">
		<label>{{localize "GURPS.Item.TraitModifier.FIELDS.Points.Name"}}</label>
		<div class="form-fields">
			<!-- Point Cost -->
			{{formInput fields.cost value=source.cost editable=editable}}
			<!-- Cost Type-->
			{{formInput fields.cost_type value=source.cost_type localize=true editable=editable}}
			<!-- Affects -->
			{{formInput fields.affects value=source.affects localize=true editable=editable}}
		</div>
	</div>

	<!-- Levels -->
	<div class="form-group">
		<label>{{localize "GURPS.Item.TraitModifier.FIELDS.Levels.Name"}}</label>
		<div class="form-fields">
			<!-- Level Number -->
			{{formInput fields.levels value=source.levels disabled=source.use_level_from_trait editable=editable}}
			<label>
				<!-- Use Level From Trait -->
				{{formInput fields.use_level_from_trait value=source.use_level_from_trait editable=editable}}
				<!-- Label -->
				{{localize "GURPS.Item.TraitModifier.FIELDS.UseLevelFromTrait.Name"}}
			</label>
		</div>
	</div>

	<div class="form-group">
		<label>{{localize "GURPS.Item.TraitModifier.FIELDS.Total.Name"}}</label>
		<div class="form-fields">
			<input type="text" value="{{system.costWithType}}" disabled />
		</div>
	</div>

	<!-- Tags -->
	{{formField fields.tags value=source.tags localize=true editable=editable}}

	<!-- Reference -->
	{{formField fields.reference value=source.reference localize=true editable=editable}}
</fieldset>
