<fieldset>
	<legend>{{localize "GURPS.Item.TraitContainer.DetailsLegend"}}</legend>

	<!-- Notes -->
	{{formField fields.notes value=source.notes localize=true editable=editable replacements=replacements}}

	<!-- User Description -->
	{{formField fields.userdesc value=source.userdesc localize=true editable=editable replacements=replacements}}

	<!-- Tags -->
	{{formField fields.tags value=source.tags localize=true editable=editable}}

	<!-- Enabled -->
	<div class="form-group">
		<label>{{localize "GURPS.Item.Trait.FIELDS.Enabled.Name"}}</label>
		<div class="form-fields">
			<!-- Tech Level Number -->
			{{formInput fields.disabled value=(not source.disabled) name="system.enabled" editable=editable}}
		</div>
	</div>

	<!-- CR -->
	{{formField fields.cr value=source.cr localize=true editable=editable}}

	<!-- CR Adjustment -->
	{{formField fields.cr_adj value=source.cr_adj localize=true editable=editable}}

	<!-- Container Type -->
	{{formField fields.container_type value=source.container_type localize=true editable=editable}}

	<!-- Ancestry -->
	<div class="form-group">
		<label>{{localize "GURPS.Item.TraitContainer.FIELDS.Ancestry.Name"}}</label>
		<div class="form-fields">
			{{#if (eq source.container_type "ancestry")}}
			<select name="system.ancestry">
				{{selectOptions system.ancestryChoices selected=source.ancestry localize=true}}
			</select>
			{{else}}
			<select name="system.ancestry" disabled></select>
			{{/if}}
		</div>
	</div>

	<!-- Reference -->
	{{formField fields.reference value=source.reference localize=true editable=editable}}
</fieldset>
