<fieldset>
	<legend>{{localize "GURPS.Item.Equipment.DetailsLegend"}}</legend>

	<!-- Notes -->
	{{formField fields.notes value=source.notes localize=true editable=editable replacements=replacements}}

	<!-- Tech Level -->
	{{formField fields.tech_level value=source.tech_level localize=true editable=editable}}

	<!-- Legality Class -->
	{{formField fields.legality_class value=source.legality_class localize=true editable=editable}}

	<!-- Quantity / Equipped -->
	<div class="form-group">
		<label>{{localize "GURPS.Item.Equipment.FIELDS.Quantity.Name"}}</label>
		<div class="form-fields">
			<!-- Quantity -->
			{{formInput fields.quantity value=source.quantity editable=editable}}

			<!-- Equipped -->
			<label>
				<!-- Input -->
				{{formInput fields.equipped value=source.equipped editable=editable}}
				<!-- Label Contents -->
				{{localize "GURPS.Item.Equipment.FIELDS.Equipped.Name"}}
			</label>
		</div>
	</div>

	<!-- Value -->
	<div class="form-group">
		<label>{{localize "GURPS.Item.Equipment.FIELDS.Value.Name"}}</label>
		<div class="form-fields">
			{{formInput fields.value value=source.value editable=editable}}
			<!-- Basic -->

			<!-- Label -->
			<label>{{localize "GURPS.Item.Equipment.FIELDS.Value.Extended"}}</label>
			<!-- Label Contents -->
			<input type="text" value="{{extendedValue}}" disabled />
		</div>
	</div>

	<!-- Weight -->
	<div class="form-group">
		<label>{{localize "GURPS.Item.Equipment.FIELDS.Weight.Name"}}</label>
		<div class="form-fields">
			{{formInput fields.weight value=source.weight editable=editable}}
			<!-- Basic -->

			<!-- Label -->
			<label>{{localize "GURPS.Item.Equipment.FIELDS.Weight.Extended"}}</label>
			<!-- Label Contents -->
			<input type="text" value="{{extendedWeight}}" disabled />
		</div>
	</div>

	<!-- Tags -->
	{{formField fields.tags value=source.tags localize=true editable=editable}}

	<!-- Reference -->
	{{formField fields.reference value=source.reference localize=true editable=editable}}
</fieldset>
