<fieldset>
	<legend>{{localize "GURPS.Item.Skill.DetailsLegend"}}</legend>
	<!-- If item is not owned, points field should be invisible -->
	{{#unless item.isOwned}}
	<input name="system.points" value="0" style="display: none" />
	{{/unless}}

	<!-- Notes -->
	{{formField fields.notes value=source.notes localize=true}}

	<!-- Tags -->
	{{formField fields.tags value=source.tags localize=true}}

	<!-- Default -->
	<div class="form-group">
		<label>{{localize "GURPS.Item.Technique.FIELDS.Default.Name"}}</label>
		<div class="form-fields">
			<!-- Type -->
			{{formInput fields.default.fields.type value=source.default.type}}

			<!-- Name -->
			{{formInput fields.default.fields.name value=source.default.name disabled=(ne source.default.type "skill")}}

			<!-- Specialization -->
			{{formInput fields.default.fields.specialization value=source.default.specialization disabled=(ne
			source.default.type "skill")}}

			<!-- Modifier -->
			{{formInput fields.default.fields.modifier value=source.default.modifier }}
		</div>
	</div>

	<!-- Difficulty -->
	{{formField fields.difficulty.fields.difficulty value=source.difficulty.difficulty localize=true}}

	<!-- Points & Level -->
	{{#if item.isOwned}}
	<div class="form-group">
		<label>{{localize "GURPS.Item.Skill.FIELDS.Points.Name"}}</label>
		<div class="form-fields">
			<!-- Points -->
			{{formInput fields.points value=source.points}}

			<!-- Level -->
			<label>{{localize "GURPS.Item.Skill.FIELDS.Level.Name"}}</label>
			<input type="text" readonly value="source.level" />
		</div>
	</div>
	{{/if}}

	<!-- Reference -->
	{{formField fields.reference value=source.reference localize=true}}
</fieldset>
