<fieldset>
	<legend>{{localize "GURPS.Item.Note.DetailsLegend"}}</legend>

	<div class="form-group stacked">
		<label>{{localize "GURPS.Item.Note.FIELDS.Text.Name"}}</label>
		<div class="form-fields">
			<prose-mirror
				name="system.text"
				data-document-u-u-i-d="{{item.uuid}}"
				value="{{source.text}}"
				collaborate="false"
			>
				{{{enrichedText}}}
			</prose-mirror>
		</div>
	</div>

	<!-- Reference -->
	{{formField fields.reference value=source.reference localize=true editable=editable}}
</fieldset>
