{{#* inline "item"}}
<li
	class="item"
	data-item-name="{{item.name}}"
	data-item-id="{{item.id}}"
	data-item-sort="{{item.sort}}"
	data-uuid="{{item.uuid}}"
	draggable="true"
>
	<div class="item-row">
		<!-- Cell Data -->
		{{#each item.cells as |cell key|}} {{cell.element}} {{/each}}
		<!-- Buttons -->
		<div class="item-detail item-controls">
			{{#each item.buttons as |button index|}} {{button.element}}{{/each}}
		</div>
	</div>
</li>
{{/inline}}

<div class="items-section" data-types="weaponRanged">
	<div class="items-header">
		<i class="fa-solid fa-checkmark"></i>
		<div class="item-header item-name">Ranged Weapon Usage</div>
		<div class="item-header item-skill-level">SL</div>
		<div class="item-header item-accuracy">Acc</div>
		<div class="item-header item-damage">Damage</div>
		<div class="item-header item-rof">RoF</div>
		<div class="item-header item-shots">Shots</div>
		<div class="item-header item-bulk">Bulk</div>
		<div class="item-header item-recoil">Recoil</div>
		<div class="item-header item-strength">ST</div>
		<div class="item-header item-controls"></div>
	</div>
	<ul class="item-list">
		{{#each weaponsRanged}} {{> "gurps.embeds-entry" item=this}} {{/each}}
	</ul>
</div>
