{{#* inline "item"}}
<li
	class="item"
	data-item-name="{{item.name}}"
	data-item-id="{{item.id}}"
	data-item-sort="{{item.sort}}"
	data-uuid="{{item.uuid}}"
	draggable="true"
>
	<div class="item-row">
		<!-- Cell Data -->
		{{#each item.system.cellData as |cell key|}} {{cell.element}} {{/each}}
		<!-- Buttons -->
		<div class="item-detail item-controls">
			{{#each item.system.sheetButtons as |button index|}} {{button.element}}{{/each}}
		</div>
	</div>
</li>
{{/inline}}

<div class="items-section" data-types="{{join system.childTypes ','}}">
	<div class="items-header">
		<div class="item-header item-name">Name</div>
		<div class="item-header item-college">College</div>
		<div class="item-header item-resist">Resist</div>
		<div class="item-header item-spell-class">Class</div>
		<div class="item-header item-casting-cost">Cast</div>
		<div class="item-header item-maintenance-cost">Maintenance</div>
		<div class="item-header item-casting-time">Time</div>
		<div class="item-header item-duration">Duration</div>
		<div class="item-header item-difficulty">Diff</div>
		<div class="item-header item-difficulty">P#</div>
		<div class="item-header item-controls"></div>
	</div>
	<ul class="item-list">
		{{#each system.children}} {{this.system.getCellData sheet="test"}} {{/each}}
	</ul>
</div>
