{{#* inline "item"}}
<li
	class="item"
	data-item-name="{{item.name}}"
	data-entry-id="{{item.id}}"
	data-item-sort="{{item.sort}}"
	data-uuid="{{item.uuid}}"
	draggable="true"
>
	<div class="item-row">{{#each item.cellData as |cell key|}} {{cell.element}} {{/each}}</div>
	{{#if (eq item.type "eqp_modifier_container")}}
	<ul class="item-list">
		{{#each item.children}} {{>item item=this}} {{/each}}
	</ul>
	{{/if}}
</li>
{{/inline}}

<label>hi</label>
<div class="inventory-list">
	<ul class="item-list">
		{{#each system.modifiers}} {{> item item=this}} {{/each}}
	</ul>
</div>
