<form class="{{ cssClass }}" autocomplete="off">
    <section id="details">
        <label>{{ localize "gurps.item.img" }}</label>
        <div class="field">
            <div class="img-display" style="background-image: url({{ item.img }})">
                <img src="{{ item.img }}" data-edit="img" title="{{ item.name }}" />
            </div>
        </div>
        <label>{{ localize "gurps.item.name" }}</label>
        <div class="field">
            <input type="text" name="name" value="{{ item.name }}" data-dtype="String" />
        </div>
        <label class="check" style="justify-self: end;">
            <input type="checkbox" name="system.can_level" data-dtype="Boolean" {{ checked system.can_level }} />
            {{ localize "gurps.item.levels" }}
        </label>
        <div class="field no-stretch">
            <input type="text" name="system.levels.current" value="{{ system.levels.current }}" data-dtype="Number" {{ disabled (not system.can_level) }} />
            <label>{{ localize "gurps.item.max_levels" }}</label>
            <input type="text" name="system.levels.max" value="{{ system.levels.max }}" data-dtype="Number" {{ disabled (not system.can_level) }} />
        </div>
        <label>{{ localize "gurps.item.duration" }}</label>
        <div class="field no-stretch">
            <input type="text" name="duration" value="{{ duration }}" data-dtype="Number" {{ disabled (eq system.duration.type "none") }} />
            <select name="system.duration.type" data-dtype="String">
                {{#select system.duration.type }}
                {{#each @root.config.select.duration_type as |v k| }}
                    <option value="{{ k }}">{{ localize v }}</option>
                {{/each }} {{/select }}
            </select>
        </div>
        <label>{{ localize "gurps.item.reference" }}</label>
        <div class="field">
            <input type="text"
                   name="system.reference"
                   value="{{ system.reference }}"
                   data-dtype="String" />
        </div>
    </section>
    {{>item/sections/features }}
    {{>item/sections/roll-modifiers }}
</form>
