<form class="{{ cssClass }}" autocomplete="off">
	<section id="details">
		<label>{{ localize "gurps.item.img" }}</label>
		<div class="field">
			<div class="img-display" style="background-image: url({{ document.img }})">
				<img src="{{ document.img }}" data-edit="img" title="{{ document.name }}" />
			</div>
		</div>
		<label>{{ localize "gurps.item.name" }}</label>
		<div class="field">
			<input type="text" name="name" value="{{ item.name }}" data-dtype="String" />
		</div>
		<label>{{ localize "gurps.item.notes" }}</label>
		<div class="field">
			<input type="text" name="system.notes" value="{{ system.notes }}" data-dtype="String" />
		</div>
		<label>{{ localize "gurps.item.vtt_notes" }}</label>
		<div class="field">
			<input type="text" name="system.vtt_notes" value="{{ system.vtt_notes }}" data-dtype="String" />
		</div>
		<label>{{ localize "gurps.item.tech_level" }}</label>
		<div class="field">
			<input type="text" name="system.tech_level" value="{{ system.tech_level }}" data-dtype="String" />
		</div>
		<label>{{ localize "gurps.item.legality_class" }}</label>
		<div class="field">
			<input type="text" name="system.legality_class" value="{{ system.legality_class }}" data-dtype="String" />
		</div>
		<label>{{ localize "gurps.item.quantity" }}</label>
		<div class="field no-stretch">
			<input type="text" name="system.quantity" value="{{ system.quantity }}" data-dtype="Number" />
			{{#if document.actor}}
			<label class="check">
				<input type="checkbox" {{ checked system.equipped }} />
				{{ localize "gurps.item.equipped" }}
			</label>
			{{/if}}
		</div>
		<label>{{ localize "gurps.item.value" }}</label>
		<div class="field no-stretch">
			<input type="text" name="system.value" value="{{ system.value }}" data-dtype="Number" />
			<label>{{ localize "gurps.item.extended_value" }}</label>
			<input type="text" value="{{ document.extendedValue }}" readonly tabindex="-1" />
		</div>
		<label>{{ localize "gurps.item.weight" }}</label>
		<div class="field no-stretch">
			<input type="text" name="system.weight" value="{{ system.weight }}" data-dtype="String" />
			<label>{{ localize "gurps.item.extended_weight" }}</label>
			<input type="text" value="{{ document.extendedWeightFast }}" readonly tabindex="-1" />
		</div>
		<label>{{ localize "gurps.item.uses" }}</label>
		<div class="field no-stretch">
			<input
				type="text"
				name="system.uses"
				value="{{ system.uses }}"
				data-dtype="Number"
				{{
				disabled
				(eq
				system.max_uses
				0)
				}}
			/>
			<label>{{ localize "gurps.item.max_uses" }}</label>
			<input type="text" name="system.max_uses" value="{{ system.max_uses }}" data-dtype="Number" />
		</div>
		<label>{{ localize "gurps.item.rated_strength" }}</label>
		<div class="field">
			<input type="text" name="system.rated_strength" value="{{ system.rated_strength }}" data-dtype="Number" />
		</div>
		<label>{{ localize "gurps.item.tags" }}</label>
		<div class="field">
			<input type="text" name="system.tags" value="{{ join system.tags ', ' }}" data-dtype="String" />
		</div>
		<label>{{ localize "gurps.item.reference" }}</label>
		<div class="field">
			<input type="text" name="system.reference" value="{{ system.reference }}" data-dtype="String" />
		</div>
		<label>{{ localize "gurps.item.reference_highlight" }}</label>
		<div class="field">
			<input
				type="text"
				name="system.reference_highlight"
				value="{{ system.reference_highlight }}"
				data-dtype="String"
			/>
		</div>
	</section>
	{{>item/partials/prereqs}} {{>item/partials/features}} {{#with itemCollections.equipment_modifiers as |section| }}
	<div id="equipment-modifiers">
		<header>
			<span class="enabled">
				<i class="gcs-checkmark"></i>
			</span>
			<span class="item-name">{{ localize "gurps.item.eqp_modifier_desc" }}</span>
			<span class="tech-level">{{ localize "gurps.item.modifier_tl" }}</span>
			<span class="value">{{ localize "gurps.item.modifier_cost" }}</span>
			<span class="weight">{{ localize "gurps.item.modifier_weight" }}</span>
			<span class="tags">{{ localize "gurps.item.tags" }}</span>
			<span class="reference">
				<i class="gcs-bookmark"></i>
			</span>
		</header>
		<ul class="items" data-item-list data-item-types="{{ section.types }}">
			{{#each section.items}} {{>item/partials/eqpuipment-modifier}} {{/each}}
		</ul>
	</div>
	{{/with}} {{>item/partials/melee}} {{>item/partials/ranged}}
</form>
