<div class="equipped" data-item-id="{{this._id}}">{{#if this.system.calc.equipped}}<i class="gcs-checkmark"></i>{{/if}}</div>
<div class="quantity">{{this.system.quantity}}</div>
<div
	class="desc item{{#if (isContainer this)}} container{{/if}} other {{disabled this.system.calc.disabled}}"
	data-item-id="{{ this._id }}"
	{{{indent this.system.calc.indent}}}
>
	<div class="dropdown">
		{{#if (eq this.type "equipment_container")}}
		{{#if this.system.open}}
		{{>actor/character/sections/dropdown-open}}
		{{else}}
		{{>actor/character/sections/dropdown-closed}}
		{{/if}}
		{{/if}}
	</div>
	<div class="name">
		{{this.system.calc.name}}
	</div>
	{{{this.system.calc.resolved_notes}}}
</div>
<div class="uses {{disabled this.system.calc.disabled}}">{{#if (and this.system.uses this.system.max_uses)}}{{this.system.uses}}{{/if}}</div>
<div class="tech-level {{disabled this.system.calc.disabled}}">{{this.system.tech_level}}</div>
<div class="legality-class {{disabled this.system.calc.disabled}}">{{this.system.legality_class}}</div>
<div class="value {{disabled this.system.calc.disabled}}">{{this.system.calc.value}}</div>
<div class="weight {{disabled this.system.calc.disabled}}">{{this.system.calc.weight}}</div>
<div class="extended-value {{disabled this.system.calc.disabled}}">{{this.system.calc.extended_value}}</div>
<div class="extended-weight {{disabled this.system.calc.disabled}}">{{this.system.calc.extended_weight}}</div>
<div class="reference {{disabled this.system.calc.disabled}}">{{{ref this.system.reference}}}</div>
{{#if this.system.open}}
{{#each (sort this.children "sort")}}
{{>actor/character/sections/equipment}}
{{/each}}
{{/if}}
