<div class="roll" {{{indent this.calc.indent "text" 0 6}}}>{{this.roll_range}}</div>
<div class="location" {{{indent this.calc.indent "text" 0 6}}}>{{this.table_name}}</div>
<div data-modifier="{{ror this.hit_penalty 0}}" data-comment="{{localize 'gurps.character.body_type.penalty_for' name=this.table_name}}"
	data-type="modifier" class="penalty rollable">{{signed (ror this.hit_penalty 0)}}</div>
<div class="dr" data-tooltip="{{this.tooltip}}" data-tooltip-direction="DOWN">{{this.displayDR}}</div>
