<div class="item desc" data-item-id="{{this._id}}">
	<div class="name">
		{{this.itemName}}
	</div>
	{{{this.resolvedNotes}}}
</div>
<div data-item-id="{{this._id}}" data-type="attack" class="usage rollable">
	{{this.system.usage}}</div>
<div data-item-id="{{this._id}}" data-type="attack" class="level rollable">
	{{this.skillLevel}}</div>
<div data-item-id="{{this._id}}" data-type="parry" class="parry rollable">
	{{this.parry.current}}</div>
<div data-item-id="{{this._id}}" data-type="block" class="block rollable">
	{{this.block.current}}</div>
<div data-item-id="{{this._id}}" data-type="damage" class="damage rollable">
	{{this.fastResolvedDamage}}</div>
<div class="reach">{{this.reach.current}}</div>
<div class="st">{{this.strength.current}}</div>
