<div class="item desc" data-item-id="{{this._id}}">
	<div class="name">
		{{this.system.calc.name}}
	</div>
	{{{this.system.calc.resolved_notes}}}
</div>
<div data-item-id="{{this._id}}" data-type="attack" class="usage rollable">{{this.system.usage}}</div>
<div data-item-id="{{this._id}}" data-type="attack" class="level rollable">{{this.level}}</div>
<div data-modifier="{{this.system.calc.accuracy}}" data-comment="{{localize 'gurps.weapon.accuracy_for' name=this.system.calc.name}}"
	data-type="modifier" class="accuracy rollable">{{this.system.calc.accuracy}}</div>
<div data-item-id="{{this._id}}" data-type="damage" class="damage rollable">
	{{this.system.calc.damage}}
</div>
<div class="range">{{this.system.calc.range}}</div>
<div class="rate-of-fire">{{this.system.calc.rate_of_fire}}</div>
<div class="shots">{{this.system.calc.shots}}</div>
<div data-modifier="{{this.system.calc.bulk}}" data-comment="{{localize 'gurps.weapon.bulk_for' name=this.system.calc.name}}"
	data-type="modifier" class="bulk rollable">{{this.system.calc.bulk}}</div>
<div class="recoil">{{this.system.calc.recoil}}</div>
<div class="st">{{this.system.calc.strength}}</div>
