<div class="move-bonus">
	<div class="placeholder"> </div>
	<select name="array.system.features.{{@index}}.move_type">
		{{#select this.move_type}}
			{{#unless (in move_types this.move_type)}}
				<option value="{{this.move_type}}">{{localize
						"gurps.field_prefix.move_type_unknown"
						type=this.move_type
					}}</option>
			{{/unless}}
			{{#each move_types as |v k|}}
				<option value="{{k}}">{{localize "gurps.field_prefix.move_type" type=v}}</option>
			{{/each}}
		{{/select}}
	</select>
	<select name="array.system.features.{{@index}}.limitation">
		{{#select this.limitation}}
			{{#each config.select.movelimit as |v k|}}
				<option value="{{k}}">{{localize v}}</option>
			{{/each}}
		{{/select}}
	</select>
</div>
