<div class="form-group">
	<label>{{localize "GURPS.Action.BaseAttack.FIELDS.Damage.Name"}}</label>
	<div class="form-fields">
		<!-- ST -->
		{{formInput fields.damage.fields.st value=source.damage.st localize=true editable=editable}}

		<!-- Leveled -->
		<label>
			<!-- Checkbox-->
			{{formInput fields.damage.fields.leveled value=source.damage.leveled editable=editable}}
			<!-- Label -->
			{{localize "GURPS.Action.BaseAttack.FIELDS.Damage.Leveled"}}
		</label>

		<!-- Base -->
		{{formInput fields.damage.fields.base name="system.damage.base" value=system.damage.base editable=editable}}

		<!-- Modifier Per DIe -->
		{{formInput fields.damage.fields.modifier_per_die value=source.damage.modifier_per_die editable=editable}}
		<label>{{localize "GURPS.Action.BaseAttack.FIELDS.Damage.ModifierPerDie"}}</label>
	</div>
</div>

<div class="form-group">
	<label></label>
	<div class="form-fields">
		<label>{{localize "GURPS.Action.BaseAttack.FIELDS.Damage.ArmorDivisor"}}</label>
		<!-- Armor Divisor -->
		{{formInput fields.damage.fields.armor_divisor value=source.damage.armor_divisor editable=editable}}

		<label>{{localize "GURPS.Action.BaseAttack.FIELDS.Damage.Type"}}</label>
		<!-- Type -->
		{{formInput fields.damage.fields.type value=source.damage.type editable=editable}}
	</div>
</div>

<div class="form-group">
	<label></label>
	<div class="form-fields">
		<label>{{localize "GURPS.Action.BaseAttack.FIELDS.Damage.StMul"}}</label>
		<!-- ST Multiplier -->
		{{formInput fields.damage.fields.st_mul value=source.damage.st_mul editable=editable}}
	</div>
</div>

<hr />

<div class="form-group">
	<label>{{localize "GURPS.Action.BaseAttack.FIELDS.Damage.Fragmentation"}}</label>
	<div class="form-fields">
		<!-- Base -->
		{{formInput fields.damage.fields.fragmentation value=system.damage.fragmentation editable=editable}}

		<label>{{localize "GURPS.Action.BaseAttack.FIELDS.Damage.FragmentationArmorDivisor"}}</label>

		{{formInput fields.damage.fields.fragmentation_armor_divisor value=source.damage.fragmentation_armor_divisor
		editable=editable}}

		<!-- Type -->
		<label>{{localize "GURPS.Action.BaseAttack.FIELDS.Damage.FragmentationType"}}</label>
		{{formInput fields.damage.fields.fragmentation_type value=source.damage.fragmentation_type editable=editable}}
	</div>
</div>

<hr />
